[2016-08-19 09:34] mweststrate opened #2 "introduce `.then` / `.catch` on observableFromPromise"
as shorthand for `observable.promise.then`

[2016-08-19 17:49] mweststrate opened #3 "Add support for TC39 observables `fromObservable`"
See:
https://github.com/chicoxyzzy/rx-mobx/blob/master/src/rxToMobx.js
https://github.com/tc39/proposal-observable

[2016-08-19 21:12] mweststrate opened #4 "Expose constants for Promise state"
`PENDING`, `FULFILLED`, `REJECTED`

[2016-08-22 00:08] AriaFallah opened #5 "OnAction util?"
Currently have this in one of my projects

[code]

Would it make sense as a util that's basically a more controlled `autorun` (like `reaction`)?

[code]

[2016-08-23 03:14] AriaFallah opened #6 "fromPromise swallows all errors. Consider rethrowing exception?"
This would make it much easier to spot errors in your own code since they'll be output to the console. Additionally it lets the user of the utils decide how they want to handle errors themselves.

[2016-08-23 05:32] mweststrate commented on #6
Could you elaborate on this one? See https://github.com/mobxjs/mobx-utils/blob/master/test/from-promise.js#L77, rejects or thrown errors should not be swallowed. Which promise library are you using?

[2016-08-23 05:39] AriaFallah commented on #6
@mweststrate

I'm using whatever babel / chrome provides. To be more clear, you're correct when you say that it rejects, but the error message is [nestled inside of the `reason` object](https://github.com/mobxjs/mobx-utils/blob/master/src/from-promise.ts#L24) instead of appearing in red text in the console.

Even more specifically, I got the MobX "an exception happened somewhere in your code...tha

[2016-08-30 17:59] mweststrate opened #7 "introduce `guard` (or `invariant`)"
[code]

[code]

[2016-08-31 14:13] agrady42 opened #8 "possible problem with es2015 promise & fromPromise"
I'm using VS code and typescript targeting ES2015, so it's using `lib.es6.d.ts` for the typings of `Promise`. (Incidentally I'm using the [isomorphic-fetch](https://github.com/matthew-andrews/isomorphic-fetch) lib, but that shouldn't be relevant as I'm working on compiling problems, not run-time). I just found this utils library and thought "`fromPromise` is exactly what I need!". My problem is a

[2016-09-01 20:22] dannief commented on #8
I resolved the issue by creating a definition file to extend the mobx-utils type definition.

[code]

[2016-09-02 06:59] xrado opened #9 "fromPromise initialValue from previous fromPromise"
Hi

I'm trying to reuse fromPromise value for next fromPromise with initalValue, so the value wont be reset between calls and I'm getting this error "Uncaught TypeError: this._observable.get is not a function". I've looked in to the source but don't know exactly why

[code]

first getData call works fine, but the second one throws an Error
Any suggestions?
Thanks for awesome lib!

[2016-09-02 13:11] mweststrate commented on #9
If think the above pattern is probably not what you want, as `this.data.value`might not have been reseolved yet, probably you need:

`this.data = fromPromise(this.data.promise.then(() => somePromise()))` ?

[2016-09-02 14:07] #2 closed

[2016-09-02 14:12] mweststrate commented on #4
Released in `1.0.1`

[2016-09-02 14:12] #4 closed

[2016-09-02 14:13] mweststrate commented on #6
Released 1.0.1, reject reason is now stored in `.value` (as well)

[2016-09-02 14:13] #6 closed

[2016-09-02 14:13] mweststrate commented on #8
Released `1.0.1`, this should solve the problem. Let me know if it doesn't :)

[2016-09-02 14:22] agrady42 commented on #8
@dannief thanks for the work-around!

@mweststrate That looks exactly right - I'm still just a bit unsure with some areas of type definitions to do a pull request myself (thanks for the example-by-doing:). I'll follow up if there's any trouble.

As a side note - where do you find the time to be so productive? Thanks for the work - I'm greatly enjoying all the mobx stuff :)

[2016-09-02 14:33] mweststrate commented on #8
Hi I am not sure where I find the time :) But I'll try not to push it too much and only do things when I have the energy :)

[2016-09-04 09:30] xrado commented on #9
But that will not set the value until somePromise resolves. It will reset to undefined, right? I would like to keep the the previous data.value when calling getData again and update with new value when promise resolves, so only data.state will change in between.

[2016-09-04 18:16] mweststrate commented on #9
In that case just store the value you want to keep in another observable, returning that until the promise resolves? e.g. simply do:

[code]

[2016-09-04 19:33] xrado commented on #9
yes thats how looked my first implementation
[code]
I thought fromPromise would come handy because it also holds state of the promise, anyway thanks for the suggestions

[2016-09-04 19:33] #9 closed

[2016-09-09 16:51] spion opened #10 "fromPromise suggestion: case method"
Would be very useful in the middle of JSX expressions.

Badly indented example:

[code]

[2016-09-13 16:42] mweststrate commented on #10
yeah that looks useful! Mind creating a PR?

[2016-09-20 09:46] JabX opened #14 "[Feature Request] Support for nested objects in ViewModel?"
I've read the source and I understand perfectly how it works and why nested objects aren't supported by `createViewModel`, but what would it take to add support for that?

I'm creating ViewModels for objects like this

[code]

With `clear` setting all `value`s to `undefined` and `set` taking an object representing the data entry and setting all the corresponding `value`s.

Without support for nest

[2016-09-21 18:43] jamiewinder opened #15 "throttledValue"
http://codepen.io/jamiewinder/pen/kkLdGa?editors=1010

I found this quite useful. It's handy when you want an element of your state to be updated in a throttled manner, and want access to both the current and incoming values. For example, if you've got a text filtered list somewhere in your application, you can use the 'latest' value as your value (`<input value={a.latest} />`) and the `current` v

[2016-09-25 22:44] maxguzenski opened #16 "proxy functions/computed on ViewModel"
Is it possible to "bypass" functions from model, including computed and "get function()" ?  it looks like that for now it only proxy properties...

[2016-09-26 19:18] mweststrate commented on #14
@JabX Would release #12 be sufficient, or do you also need nested objects?

[2016-09-26 19:19] mweststrate commented on #15
@jamiewinder that looks useful indeed! Feel free to create a PR :)

[2016-09-26 19:20] mweststrate commented on #16
yes the idea is that you can do `viewModel.model.action()` etc, so my estimate was that that would be sufficient?

[2016-09-26 19:36] JabX commented on #14
Well, maps and arrays are an awesome addition (especially arrays, I am not that much into maps myself), but unfortunately that won't do anything to solve my problem.
Nested objects remain a top-priority feature for me, as I described in my exemple above.

I am a bit unsure about how it should be done though, either by somehow managing to make the current implementation recursive, or by simply mana

[2016-09-26 19:50] jamiewinder commented on #15
Thanks, I'll do that. I'm curious to hear whether anyone thinks this could be better implemented, or can suggest better property names (`latest` and `current` are a bit misleading / somewhat synonymous).

[2016-09-26 20:43] maxguzenski commented on #16
Yes, I see that, but because my "obsessive-compulsive disorder" (is a joke), I would like to "free" my components from that. But its ok.

[2016-09-29 11:48] jamiewinder commented on #15
I've not looked into how feasible this is just yet, but an alternative could be to use something like `@computed` for throttling a value. Might be more flexible. For example, I tend to find a need for a 'throttled' value in filtered lists, but the filter tends to be made up of multiple parts. I use `@computed` to derive a predicate function from these parts. Therefore something like this might sui

[2016-09-29 14:05] mweststrate commented on #14
recusive viewModels might be quite complicated.

But depending if your data model is a tree, `const viewModel = observable(toJS/*or lodash.deepClone*/(model))` and on submit `lodash.deepMerge(model, viewModel)` might also already do the trick. But that doesn't give the benefits of this function (read original values until modified etc).
Not really a solution within this model, but that might work

[2016-09-29 15:23] JabX commented on #14
I fear that's only part of the solution, because I would also need to update the viewmodel when the model is changed. I don't even need the `submit()` part with that because when I submit my form I call a save service on the server that returns the new model and updates it.

Anyway I am going to build my own custom solution then, and you confirmed my suspicions about a recursive viewmodel.

[2016-10-07 17:01] JabX commented on #14
This is the solution I came up with:
[code]
`toFlatValues()` is a method I use to recursively transform my `{$metadata, value}` objects into `value`, just like `toJS()` does for observables.

The only pain point is that I kinda have to handle the model reactions manually, meaning that I have to call `unsubscribe()` before I destroy my viewModel (in `componentWillUnmount()` in my case). But this al

[2016-10-13 19:03] drslump commented on #15
IMHO unless there is some important performance reason I think it's best to have composable decorators. Here is a simple demo showcasing how to throttle and feed again the last result: https://jsbin.com/xiremoh/edit?js,output

[2016-10-13 19:17] drslump commented on #7
:+1: given the intended usage, the error could even be generated with something like:

[code]

Any idea of how disable the *guards* for optimized production builds? I guess a *noop* could be injected with a build tool (ie: webpack) but I guess it'll also be nice if the guards could be disabled at runtime.

[2016-10-13 19:18] drslump commented on #10
💅  @mweststrate this issue can be closed, https://github.com/mobxjs/mobx-utils/pull/13 was merged

[2016-10-13 19:21] #10 closed

[2016-10-26 11:39] nidu commented on #14
@JabX do i understand correctly that your `createViewModel` is not general purpose? I guess for general purpose viewModel we also need dedicated classes for all types of observables?

[2016-10-26 18:22] nidu commented on #14
@mweststrate i've made an attempt to support nested observable objects. The approach is far from ideal. Basically getter for property checks if returned value is observable object and wraps it with a view in this case. Submit and reset become recursive. Here is the code https://github.com/nidu/mobx-utils/commit/9b17503311a265986ae6313399d0e61b473798d1. What do you think of this? I support map and

[2016-10-26 21:45] mattruby opened #18 "Using mobx.observe on a viewModel will cause Invariant failed errors"
Here's a very simple fiddle showing the issue: https://jsfiddle.net/rubyred/t92nfs1r/2/

[2016-10-27 06:36] JabX commented on #14
@nidu Well, it could be made for a more general purpose, but it's a different, less efficient and harder to use solution that the original `createViewModel`.

[2016-10-27 06:53] nidu commented on #14
@JabX i think most time this pattern is used for UI screens/forms where data volume is not that big so efficiency can be neglected here. At least for people who's ready to sacrifice some efficiency. Currently i ended by deep cloning nested collections on every change which is probably even less efficient and definitely takes more efforts.

[2016-10-27 10:09] mweststrate commented on #14
@JabX @nidu thanks for your hard work!

@nidu it seems you've take care of observable maps and arrays as well from your code? So it seems to be quite complete? Could you give me an overview of think that might be missing?

I also want to point you of a recent library built on top of MobX, still very much in progress, but it solves this problem as well:

https://github.com/mobxjs/mobx-state-tree

W

[2016-10-27 10:18] #16 closed

[2016-10-27 12:20] nidu commented on #14
@mweststrate no no, there's only support for objects and implementation implies you don't access unchanged observable object very often because of efficiency.

Array and map support remained untouched. I think supporting map wouldn't be so hard (because there aren't so many methods, especially mutational ones), but to support an array quite a lot must be done. Array should return and store views f

[2016-10-31 19:23] mweststrate commented on #15
@drslump this doesn't seem mobx specific, is there a general library that exposes these kind of primitives?

[2016-10-31 19:24] mweststrate commented on #5
Mmm no I don't think so. To many levels of abstractions on top of each other might give a too big api surface

[2016-10-31 19:24] #5 closed

[2016-11-02 12:58] dcworldwide commented on #14
I'm having the same need as well. Nit sure why recursing a object tree and creating view models per node wouldn't work?

[2016-11-02 16:48] drslump commented on #15
@mweststrate not that I'm aware of, at least on decorator form, there is `lodash` that offers some debouncing and throttling helpers. It'll be cool though! :)

Agree on this not being *mobx* specific, I haven't look into mobx internals but I assume it's probably cheap enough for mobx to trigger a *throttled* function on every *change*, since its computation will be memoized most of the time.

[2016-11-08 16:16] jamiewinder opened #22 "queueProcessor debounce not working as expected"
Perhaps I'm misunderstanding, but shouldn't this print the 1, 2, then 3 in sequence with a 3-second in between each?
http://codepen.io/jamiewinder/pen/qqdgBN?editors=1010

It actually just waits three seconds then processes all three at once.

[2016-11-21 19:05] mweststrate commented on #22
No, it fires the processor, then queues up for 3 seconds, then fires again.

But I think your use case might actually be more useful :)

Interested in making a PR?

[2016-11-21 19:07] mweststrate commented on #15
@jamiewinder I think actually the original example in your pen is already really useful. Still interested in making submitting that PR?

[2016-11-21 19:08] mweststrate commented on #14
I do see the use case for this feature, but I think mobx-state-tree will in the end provide a more generic solution to this problem. Therefor closing this issue for now.

[2016-11-21 19:08] #14 closed

[2016-11-21 20:53] jamiewinder commented on #15
Sure, I can do. Not convinced it's the best, or most flexible implementation but I haven't had much of a chance to try alternatives just yet. I'll see if I can put it together in the next couple of days. :)

[2016-11-24 20:16] DylanMcCall opened #25 "Refreshing a lazyObservable forces it to load a value"
I am using `lazyObservable` along with `autorun` to keep track of fields from a Dexie database. (Not 100% sure if this is a sane approach as I'm new to MobX, so feel free to tell me if I'm doing it wrong).

Here's how that looks:

    export class ObservableDexieTable {
        @observable ready = false;

        tableLazyFields = {
            count: () => this.table.count()
        }

        co

[2016-11-24 20:41] mattruby commented on #25
autorun will fire initally to see what it needs to observe. I think you'd
be better off using reaction. That will not fire initally by default.

On Nov 24, 2016 2:16 PM, "Dylan McCall" <notifications@github.com> wrote:

[2016-11-24 20:57] DylanMcCall commented on #25
Thanks for the suggestion :) I would *love* to use reaction. Alas, that (and observe) weren't cooperating for me. Not exactly sure why, but possibly because the value of the observable stays the same? Probably just need to dig a little deeper to figure out what field to attach to with my reaction. For working with Dexie I've got something very much like the Clock example for atoms: http://mobxjs.g

[2016-11-27 09:06] mweststrate commented on #25
@DylanMcCall I think actually you are right, `refresh` should not do anything if the observable isn't fetched yet. I think that would be the expected behavior of `refresh` in any case? Would you be interested in making a PR with this new `refresh` behavior, with an optional (`force` behavior to get the old behavior?)

[2016-12-01 20:43] mattruby opened #26 "fromPromise seems to be mutating the ajax promise in jQuery 2.1.1"
The following test case demos the issue:
https://jsfiddle.net/1592xe2o/4/

It seems that fromPromise is modifying the jQuery promise in error cases.

[2016-12-01 20:50] mattruby commented on #26
I should add that the error only seems to occur when the promise is rejected.  I think jQuery does some funny business with ajax error handling.  That may be causing this.

[2016-12-07 09:31] Strate opened #27 "Create "memoize" helper"
As for now, mobx has `computed` decorators, which could be used on argumentless functions. It would be useful to create "memoize" helper, which acts like [lodash memoize function](https://lodash.com/docs/4.17.2#memoize), but with usage of mobx power.

[2016-12-13 18:50] mrjjwright opened #29 "Sink or Sync"
In the `fromResource` documentation is sink supposed to be mean sync, as in syncing the fields of the external resource with the observable, or as a sink, in Rx terms?

<img width="914" alt="screen shot 2016-12-13 at 11 48 59 am" src="https://cloud.githubusercontent.com/assets/4343/21154081/557d61c0-c12a-11e6-8c20-564ca2f4a32c.png">

[2016-12-13 18:54] mrjjwright commented on #29
Nevermind, I think I get it now.

[2016-12-13 18:54] #29 closed

[2016-12-19 23:20] BarryThePenguin opened #30 "createViewModel from ObservableMap"
Is it possible to use createViewModel from an ObservableMap?

I'm seeing `Uncaught Error: [mobx-utils] createViewModel expects an observable object`.

In the [`submit` action](https://github.com/mobxjs/mobx-utils/blob/b9b35875b25c81073c9483476ebc054f12e13755/src/create-view-model.ts#L47-L61) there's an `isObservableArray` and `isObservableMap` check which then calls `replace`, or `clear` and `merg

[2016-12-19 23:24] BarryThePenguin commented on #30
Looking into it more, I don't think my understanding above is correct..

[2017-01-03 01:55] tekacs opened #32 "Observable created by fromResource can't be used in `computed` if it sinks immediately"
Observables created using `fromResource` seem to be impossible to use inside a `computed` from mainline MobX. Apart from creating derived values, this is also useful for simply wrapping the resulting observables in a familiar interface to be passed to functions that normally received an `IComputedValue<T>` rather than a `{current(): T, dispose(): void, isAlive(): boolean}`.

Even a simple computed

[2017-01-03 07:09] mweststrate commented on #32
@tekacs confirmed, thanks for reporting!

[2017-01-03 07:26] mweststrate commented on #32
The issue should be fixed now, could you confirm?

[2017-01-03 07:30] mweststrate opened #33 "`fromResource` should return subscription function from it's setup function"
Most usage of `fromResource` follow this pattern

[code]

If the setup function returns the subscription function and if it would be stored in the resource, it could be simplified to:

[code]

[2017-01-03 09:25] tekacs commented on #32
Confirmed fixed, both in my use with apollo-client and in the WebpackBin above, with no changes made other than updating mobx-utils.

Thanks for turning this around so fast! :)

[2017-01-03 09:25] #32 closed

[2017-01-08 21:40] reinisriekstins opened #34 "Invariant failed error when using fromStream in Mobx strict mode."
I'm getting the following error:

when using the MobxUtils fromStream method in Mobx strict mode. Opting out of strict mode resolves the problem, however I'd strongly like to keep using strict mode.

Here is the callstack:
[code]

My code from store.js that might be relevant:
[code]

The last line in that sample is the one from which the error is thrown. The parts `at new StreamListener (observabl

[2017-01-09 19:10] mweststrate commented on #26
@mattruby if I remember correctly this issue was fixed in the past or there was a work around for it?

[2017-01-09 19:11] mweststrate commented on #3
This featured has been added in 1.1.5 `fromStream` / `toStream`

[2017-01-09 19:11] #3 closed

[2017-01-09 19:18] mattruby commented on #26
I used `promise.then()`.  It's sort of working, but it's still messed up.
If it becomes a really tough fix, I can switch back to my old mobx promise
handler.  I was hoping with Mobx 3 would help with this.

On Mon, Jan 9, 2017 at 1:10 PM, Michel Weststrate <notifications@github.com>
wrote:

--
-Matt Ruby-
mattruby@gmail.com

[2017-01-09 19:35] #34 closed

[2017-01-09 19:36] mweststrate commented on #34
Thanks for reporting! The issue should be fixed by 1.1.6

[2017-01-10 10:05] RainerAtSpirit opened #35 "asMap deprecation warning with mobx 3.x"
Update: Just saw in the changelog that mobx-utils 2 is already using mobx3.

I'm getting the following in combination with mobx 3:
```mobx.js:2604 [mobx] Deprecated: asMap is deprecated, use observable.map or observable.shallowMap instead```

https://github.com/mobxjs/mobx-utils/blob/b9b35875b25c81073c9483476ebc054f12e13755/src/create-view-model.ts#L15

[2017-01-10 11:55] RainerAtSpirit commented on #35
https://github.com/mobxjs/mobx-utils/pull/36

[2017-01-12 05:22] #30 closed

[2017-01-12 15:05] mweststrate commented on #26
@mattruby could you check whether `mobx-utils@2.0.0-fix26` fixes the issue? Thanks!

[2017-01-12 15:48] mattruby commented on #26
Thanks @mweststrate, it's no longer altering the promise.   I've added 2 test cases at: https://github.com/mattruby/mobx-issue-test-cases/tree/master/mobx-utils-fromPromise that show off how Mob3 with the old utils will also work.  You've fixed it!

[2017-01-12 15:48] #26 closed

[2017-01-13 19:26] #25 closed

[2017-01-13 19:29] mweststrate commented on #35
Released as 2.0.1. Many thanks for the PR!

[2017-01-13 19:29] #35 closed

[2017-01-13 19:30] mweststrate commented on #25
Fix has been released in 2.0.1

[2017-01-13 19:30] mweststrate commented on #26
Fix has been released in 2.0.1

[2017-01-13 19:35] mattruby commented on #26
Thanks!

On Jan 13, 2017 1:30 PM, "Michel Weststrate" <notifications@github.com>
wrote:

[2017-01-13 22:55] DylanMcCall commented on #25
Ah, perfect! Sorry I went and disappeared into oblivion with this one. I had "send PR to mobx-utils" at the top of my todo list then it all got bogged down with school. Alas. Thanks for making this cool thing :)

[2017-01-26 01:55] phiresky opened #37 "Clarify that from/toStream only works with RxJS 5"
Just spent some time trying to get it to work with the [npm package rx](https://www.npmjs.com/package/rx) but it didn't work. I only noticed I had to use RxJS 5 (npm package rxjs) when I looked at the [relevant tests file](https://github.com/mobxjs/mobx-utils/blob/master/test/observable-stream.js#L6).
With RxJS 5 the examples work fine.

The errors were:
(toStream)
[code]

(fromStream)
[code]

[2017-01-26 07:54] mweststrate commented on #37
@phiresky the goal is to be compatible with any stream library through `Symbol.observable`. Did you test it in an environment that supports Symbols without accidentally compiling / polyfilling down to ES5?

[2017-01-26 08:01] mweststrate commented on #37
Ah probably `rx` itself doesn't support `Symbol.observable` yet? Adding support for `Symbol.iterable` as well around [here](https://github.com/mobxjs/mobx-utils/blob/master/src/observable-stream.ts#L63) will probably fix the issue

[2017-01-31 13:43] alisabzevari opened #39 "fromPromise which starts with fulfilled state"
We mostly use `fromPromise` to render loading or other states in react components. Here is a sample component:
[code]
I have initialized `entity` with a resolved `fromPromise` to avoid writing an `if` in `render` method. What I think is really useful is `fromPromise(value)`. So `fromPromise` does not necessarily needs a `Thenable` object.

[2017-02-16 08:27] rasentry opened #40 "now() returns not a relevant time if accessed from outside a reactive context"
When I use now in computed value and use it outside reaction it returns not relevant time.
see https://jsfiddle.net/pwcv8xsu/

[2017-02-16 17:44] mattruby commented on #40
See this example: https://jsfiddle.net/pwcv8xsu/1/

Does that help you out?

[2017-02-16 18:11] rasentry commented on #40
@mattruby No, because getter "time" used not only inside reaction(autorun).

[2017-02-16 18:23] mattruby commented on #40
@rasentry we're getting a little funky here, but you'll need to use `keepAlive`
See this example: https://jsfiddle.net/pwcv8xsu/3/

[2017-02-16 18:25] mattruby commented on #40
Mobx will try to clean up `computeds` that are not being used in a reaction.  So we're going to tell mobx not to do that with keepAlive.  Note that keepAlive will return a disposer.  You'll want to run that when/if you're done with that time.

[2017-02-16 18:30] rasentry commented on #40
As I think it is not appropriate solution, because I need to take care about disposer.
In my project I use code from example from here https://mobx.js.org/refguide/extending.html
and there is no need disposer.

[2017-02-16 18:34] mattruby commented on #40
I think that example is using reactions. If you use `reaction` or `autorun`
mobx will take care of itself (for the most part).   You're asking to hit a
computed outside of a reaction, correct?

On Thu, Feb 16, 2017 at 12:30 PM, rasentry <notifications@github.com> wrote:

--
-Matt Ruby-
mattruby@gmail.com

[2017-02-16 18:40] rasentry commented on #40
I think the problem is here https://github.com/mobxjs/mobx-utils/blob/master/src/from-resource.ts#L106
there is always returns cashed value, which updates only in reaction.
In example https://mobx.js.org/refguide/extending.html
there is check
[code]

[2017-02-16 18:41] mattruby commented on #40
I think the only way to get it working the way you want is to use
`keepAlive`.  I'm pretty sure it's going to end up being equivalent to any
other solution you'd implement.  If you built your own timer, you'd still
have to dispose of the interval.

I should note, that this is my first time playing with keepAlive.  I
haven't had to use it in production yet.

On Thu, Feb 16, 2017 at 12:36 PM, rasent

[2017-02-16 19:08] mweststrate commented on #40
Mm I think this can be fixed by checking if now () is being accessed from
inside a derivation. Mobx.extras probably has some funky method to detect
that. If the invocation isn't being tracked we can just return Date.now

Op do 16 feb. 2017 19:41 schreef Matt Ruby <notifications@github.com>:

[2017-02-16 19:14] rasentry commented on #40
@mweststrate As a temporary solution it is good, but I think now() should work like a "normal" Date.now(), isn't it?

[2017-02-21 10:50] Strate opened #41 "IPromiseBasedObservable typings improvement"
As for now, `IPromiseBasedObservable<T>` has this definition:
[code]

I suggest to change that to get stronger types:
[code]

After that typescript will force developer to cover all cases of state and gives strict access to value:
[code]

Also I suggest to either:
1. Remove `case` function from IPromiseBasedObservable
2. Make all handlers required, for each state.

With strictNullChecks enabled it

[2017-02-21 10:59] jamiewinder commented on #41
I think the `value` type for `IPromiseBasedObservableRejected` should be `any` - you can throw / reject with anything in JavaScript after all. Looks good to me otherwise, though I still wonder about the decision to deprecate `reason`... not sure it makes sense to me.

[2017-02-21 11:11] Strate commented on #41
@jamiewinder `reason` is not documented, so it would be removed.

[2017-02-21 11:38] jamiewinder commented on #41
@Strate - yea, I know, I meant I don't understand why it was removed in the first place (nothing to do with your suggestion which seems sound to me)

[2017-03-01 16:22] kamarajuPrathi opened #42 "ViewModel Does it support Plain variables"
Assuming i have i have observables not part of a prototype (model) they are individual attributes as below

class ExampleStore{
@observable test1
@observable test2
@observable test3

}

i need to do dirty check whether they have changed or not

[2017-03-01 16:27] mattruby commented on #42
I'm not sure what you're after.  If you require the ability to dirty check, see https://github.com/mobxjs/mobx-utils#createviewmodel

What are you trying to accomplish?  If you create a fiddle showing your issue, I'll try to look into it for you.
See: https://github.com/mobxjs/mobx-examples for baseline fiddles.

[2017-03-01 16:30] kamarajuPrathi commented on #42
@mattruby In createViewModel does it require a model(class) to do the dirty check
as in the example
i have one observable field title was under a model(class) Todo . assume that i didnt have Todo class , title was an observable field in the store , will be able to create a viewModel just for title field

[2017-03-01 16:34] kamarajuPrathi commented on #42
@mattruby To explain well
I have a Ui screen , where i have one inputText Field . i just need to dirty check that field .

[2017-03-01 16:35] mattruby commented on #42
"The viewmodel proxies all enumerable property of the original model"
You don't have to use a class, you can pass an object with observable fields just as well.  It will be wrapped.

I'd put my form data in a separate model and wrap that with `createViewModel`

[2017-03-01 16:43] kamarajuPrathi commented on #42
@mattruby can i wrap just an observable field with createViewModel?

[2017-03-01 16:46] mattruby commented on #42
I don't think so. I don't think it will work with a boxed observable. It
needs a key to name the field.

On Wed, Mar 1, 2017, 10:44 AM kamarajuPrathi <notifications@github.com>
wrote:

[2017-03-01 17:09] kamarajuPrathi commented on #42
@mattruby Thank you

[2017-03-01 18:33] kamarajuPrathi commented on #42
@mattruby Do you have any examples of using createViewModel in the components

[2017-03-01 19:16] mattruby commented on #42
@kamarajuPrathi Nope.  If you'd like me to create one, feel free to open a new issue over at mobx-examples.  If I get some time, I will make one for you.

[2017-03-01 19:16] #42 closed

[2017-03-01 19:18] mattruby commented on #39
I agree that it would be nice to be able to initialize a `fromPromise` with an arbitrary state.  I've had to add `null` checks in a few places to deal with this issue.

[2017-03-01 20:25] alisabzevari commented on #39
I can create a PR for that.

[2017-03-01 20:45] kamarajuPrathi commented on #42
@mattruby Sure  I have opened in the mobx-examples even .Please create one exmaple that would really helpful

[2017-03-07 11:12] Veikedo opened #44 "lazyObservable does not work with an array as the initial value"
This code will cause an error
`myArray = lazyObservable(sink => fetch("/items").then(items => sink(items)), []);`

the error is:
` TypeError: value.set is not a function`
pointed to this line https://github.com/mobxjs/mobx-utils/blob/master/src/lazy-observable.ts#L54

[2017-03-07 15:10] alisabzevari opened #45 "A standard promise with observable state and value"
I've implemented a simple `Promise` that has two observable properties: `value` and `state`. It is exactly like `fromPromise` but it is actually a `Promise`. As an example I have converted `axios.get` result and:
[code]

Having this gives the feeling that you are working with a native promise :laughing: .

Here is a simple implementation for `ObservablePromise` and `toObservablePromise` (Promise i

[2017-03-10 17:23] hediet opened #46 "Concept of readable and writeable References"
## Problem
Lets say I have the following model:
[code]

And the following react component:
[code]

And now I want to have a view that has a `MyTextBox` for `model.firstName` and another one for `model.lastName`.
The default approach would be to to pass to functions to `MyTextBox`:
[code]
However, this is cumbersome and error prone as `firstName` and `lastName` must be referenced multiple times.

I

[2017-03-15 09:49] jamiewinder commented on #39
Just to add, in some circumstances it can be handy to create a PromiseBasedObservable in a static pending or rejected state too. For example:

[code]

[2017-03-26 19:45] jayalfredprufrock opened #47 "Lazy Async Loading Decorator differences between Node and browser"
I've been trying to turn an async loading pattern I've been using into a decorator. Looks something like this:

[code]

codepen: http://codepen.io/anon/pen/XMBooq

This seems to work as expected in the codepen, and works for the most part in my node application except for one thing: the computed property that references the loadable property (`somethingFiltered` in the example) is always undefined

[2017-03-26 20:02] #47 closed

[2017-03-28 18:40] razetdinov commented on #44
This is because `observable(initalValue)` expects a boxed observable and gets an observable array instead.

An ugly workaround:
[code]

[2017-04-07 16:57] jamiewinder opened #51 "keepAlive timeout?"
I've started using `keepAlive` to get around an issue where my observable objects become momentarily unobserved, and avoid complex computations (including those that result in network requests) re-running. Sometimes this can be between frames, other times I might want something to hang onto the computed value for a longer time.

So does a `keepAlive` timeout make sense? I was going to have a go at

[2017-05-05 00:31] jamiewinder commented on #51
Separately, but related; would it be better if applying keepAlive to a computed does not cause it to be resolved immediately, rather it only kicks in when it first becomes observed?

[2017-05-09 07:43] quanganhtran opened #53 "fromPromise: Pass initialValue to the pending handler of case method"
The purpose of `initialValue` is to provide a value when the promise final value is not yet available.
From https://github.com/mobxjs/mobx-utils/blob/master/src/from-promise.ts#L50
[code]
The way to distinguish between a fulfilled `this.value` and a rejected `this.value` is the promise state. Same applies to a pending `this.value` since the boxed observable has its value set to `initialValue` in t

[2017-05-09 08:10] quanganhtran opened #54 "fromPromise: Shallowly observe a promise"
From https://github.com/mobxjs/mobx-utils/blob/master/src/from-promise.ts#L24
The value of the wrapper is an `observable.box`, which means result of the underlying promise will be made deeply observable

The purpose of `fromPromise` should be observing the state of the promise itself, and not the state of its value (except the reference). Therefore I propose adding an option (or make it the defaul

[2017-05-09 08:47] jamiewinder opened #55 "fromAjax with automatic abort on becoming unobserved"
I have a few scenarios like this where I have a `@computed` property which returns a `fromPromise` result:
[code]
This works really well but if the observables that `filterItems` uses changes often, specifically mid-flight, we end up continuing a request that is no longer needed. I wonder if a special `fromAjax` utility might be useful here, which'd have the following behaviour:

- The result woul

[2017-05-15 11:50] urugator commented on #51
Workaround solving both problems:
[code]
You could probably monkey patch existing computed by modifing the `get` method.

agree

[2017-05-15 13:04] urugator commented on #55
Maybe I don't understand, but whats do point of setting some state (`promise.cancelled`) or preventing a state update (`promise.value = response.result)` of the observable (`promise`), which is no longer observed (nothing is interested about that state)?
And if something later re-subscribes for that observable it means that the state is again relevant, therefore should return the resolved (or not

[2017-05-15 13:11] jamiewinder commented on #55
That part of this is just for completeness. If you have access to an `IPromiseBasedObservable` and its state is 'cancelled' then you wouldn't expect it to ever have a value.

The key part of this suggestion is that the underlying AJAX call would be aborted if it's still pending and there are no observers of it. A bit like a `switchMap` / `flatMapLatest` in RxJS.

[2017-05-15 13:19] urugator commented on #55
I could understand this only if you would have to manually cancel the promise `promise.cancel()`, but it doesn't make sense to me to cancel the promise by becoming unobserved.

ajax call is made immeditiately when `filterItems` is called, you can only abort update of `promis.value` when response arrives...

[2017-05-15 13:31] jamiewinder commented on #55
If we imagine a component using [the return value of] `filterItems`, when would it become unobserved? When the filter changes, or when the component is unmounted. In both cases, you don't need the AJAX call to continue, so it might as well be aborted. For example, if your loaditems service can take a few seconds to complete, then you don't want your browser continuing to wait for the results (or t

[2017-05-15 13:53] urugator commented on #55
is not always the same as

and in cases where it is the same, it would mean that modifing the status of that promise in any way (setting cancelled or whatever) is not relevant, because **nothing is observing** ... yes something can still read the promise outside of reaction (observer), but you would make the behavior inconsistent based on how do you consume the promise...which is just wrong... (if

[2017-05-24 23:02] Ridermansb opened #56 "Mobx-utils/fromPromise.state is not Observable?"
I try to react when `state` change.. but looks like `state` is not a observable...

    const result = fromPromise(promise);
    console.assert(isObservable(result.state), 'state is NOT an isObservable'); // AssertionError: state is NOT an isObservable

Full code..
https://runkit.com/ridermansb/mobx-react-is-observable/0.0.5

[2017-05-25 11:32] urugator commented on #56
[code]

[2017-05-25 21:12] Ridermansb commented on #56
You are right. Sorry, I didn't see that.

[2017-05-25 21:16] Ridermansb commented on #56
Whats I`m missing here... ?

https://runkit.com/ridermansb/mobx-react-is-observable

    isObservable(result, 'state') // false

[2017-05-25 21:30] urugator commented on #56
Hm looking at impl, the getters themselfs aren't observable, they just delegate the access to inner observable structures... Sorry for false info. Not sure why it's designed like this...

[2017-06-03 23:15] alisabzevari commented on #45
Can I make a PR to add this to the library?

[2017-06-09 07:09] cadc opened #58 "fromPromise.state as properties of fromPromise.status"
it would be cool if you could access the status of a fromPromise as properties instead of accessing the state as strings.
e.g
[code]
instead of
[code]
i think it would be a bit easier to spot spelling errors if there was an error thrown.
you could do something similar with case but its still not quite as nice
[code]
thoughts?

[2017-06-13 13:52] #7 closed

[2017-06-13 13:53] mweststrate commented on #15
Closing issue, see #24 instead

[2017-06-13 13:53] #15 closed

[2017-06-13 13:59] mweststrate commented on #18
The reason for that is that `observe` is not supported on computed properties. I think that can actually be made to work, if you still need this, feel free to open an issue on mobx repo referring to this one

[2017-06-13 13:59] #18 closed

[2017-06-13 13:59] mweststrate commented on #22
Closed for inactivity

[2017-06-13 13:59] #22 closed

[2017-06-13 14:00] mweststrate commented on #27
Closed for inactivity. The main reason why such a think is not build in, is that it is hard to prevent the memoization table from growing indefinitely.

[2017-06-13 14:00] #27 closed

[2017-06-13 14:00] #33 closed

[2017-06-13 14:00] mweststrate commented on #37
Closed for inactivity

[2017-06-13 14:02] mweststrate commented on #39
PR's are welcome

[2017-06-13 14:07] mweststrate commented on #41
Seems like a good improvement @Strate. Feel free to implement|!

[2017-06-13 14:16] mweststrate commented on #44
Will be fixed in the next release, thanks for reporting!

[2017-06-13 14:19] #44 closed

[2017-06-13 14:20] mweststrate commented on #46
Note that `observable.box(value)` basically creates a reference you are describing. If you want a reference that simply wraps around an already existing observable property, you can use `computed` and provide it both a getter and setter

[2017-06-13 14:23] mweststrate commented on #51
I think it is trivial to fix this in userland code, so not really needed in this library?

[code]

[2017-06-13 14:23] #46 closed

[2017-06-13 14:29] mweststrate commented on #53
@quanganhtran PR welcome!

[2017-06-13 14:30] mweststrate commented on #54
Yes, it should be a shallow box indeed. Feel free to submit a PR

[2017-06-13 14:31] mweststrate commented on #54
For the breaking part, probably we should add a parameter that makes it possible to choose between this behavior, and now default it to the behavior as-is

[2017-06-13 14:34] mweststrate commented on #55
Afaik cancellable promises are not standardized yet, so it would be hard to provide a generic solution to this problem? (Or is my knowledge outdated :-P) Probably it is best to set up a request in your computed prop yourself, cancelling any current ones if the computed value is invoked again?

[2017-06-13 14:36] urugator commented on #51
@mweststrate He doesn't want to simply dispose keepAlive after a timeout, he wants to dispose keepAlive  when the observable is not being observed for a certain amount of time.

[2017-06-13 14:37] mweststrate commented on #56
Good point, could be marked as `@computed` to fix that. On the other hand, it doesn't change the semantics, as there is an observable backing behind it. So the computed wouldn't do really anything. Do you need it to be explicitly observable @Ridermansb ?

[2017-06-13 14:38] mattruby commented on #18
Thanks for the clarification

[2017-06-13 14:40] mweststrate commented on #58
I think it is weird to have three mutually exclusive properties reflecting the same state. Besides that, I think two ways to inspect the state is already more then enough, let's not make it confusing by adding a third one. Note that for "pending" and such, those are exposed as constants from the module, so you don't have
 to use strings. `import { PENDING } from "mobx-utils"` etc.

[2017-06-13 14:40] #58 closed

[2017-06-13 16:02] urugator commented on #55
I think the idea is to simply cancel the update of the observables when actual promise is resolved/rejected. Something like:

[code]
Guess it may be handy when there is some long running operation with a cancel button ...

[2017-06-14 08:08] jamiewinder commented on #51
Just repeating what @urugator said. I think I need the hooks mentioned in #992 in order to be able to accomplish something like this without having to start poking around in the MobX internals.

Also, this somewhat related comment is perhaps still relevant:

It'd be tempted to have a go at both at once, i.e.:

[code]
But again, I'm not sure the hooks are there for even the basics at present.

[2017-06-14 08:25] jamiewinder commented on #55
Cancellable promises aren't a thing, but `abort`-able AJAX calls are, which is why I went for the non-generic suggestion and name. I think the `onBecomeUnobserved` utility like @urugator suggested should make this simple to implement; basically the same as `fromPromise`, but with:
[code]

[2017-07-07 13:51] jamiewinder opened #61 "IPromiseBasedObservable-s don't respect transactions"
This is probably best explained by example:
https://codesandbox.io/s/L88MnpzRX

(see console)

Basically I have four observables - `a` and `b` are `fromPromise` IPromiseBasedObservable-s, and `c` and `d` are just boxed values. The autorun displays their values.

I change `c` and `d` within a `runInAction` and as expected the autorun runs once.
I change `a` and `b` within a `runInAction` and *not*

[2017-07-11 14:44] urugator commented on #61
But you don't. You just resolve the original Promise, but that Promise doesn't modify the `a` or `b`.
A new Promise is created [here](https://github.com/mobxjs/mobx-utils/blob/master/src/from-promise.ts#L25), which is the one which actually modifies `a` or `b`. The `resolve` function of this new Promise is deffered and runs after the `runInAction` ends (outside of action).

It is not possible to m

[2017-07-16 13:15] phiresky opened #62 "Readme links 404"
All the code links in the readme e.g. [lib/from-promise.js:100-103](https://github.com/mobxjs/mobx-utils/blob/2e0d881a4901917426571319d529adbc9a3b3afa/lib/from-promise.js#L100-L103) return 404

[2017-07-24 09:05] #61 closed

[2017-07-24 12:23] #62 closed

[2017-07-24 12:23] mweststrate commented on #62
Thanks for reporting, fixed

[2017-07-24 12:36] #40 closed

[2017-07-24 12:36] mweststrate commented on #40
Pushed a fix, will be part of next release

[2017-07-25 07:14] #56 closed

[2017-07-25 08:50] mweststrate opened #65 "Use rollup, for better treeshaking?"

[2017-07-25 08:50] mweststrate commented on #54
Fixed and released as 3.0.0

[2017-07-25 08:50] #54 closed

[2017-07-25 08:52] mweststrate commented on #53
Removed `initialValue` in 3.0.0 as it is a weird concept in a promise. It is clearer and recommended to use a constant instead.

[2017-07-25 08:53] mweststrate commented on #45
Thanks for the idea @alisabzevari. `fromPromise` now returns a promise in 3.0.0, which is enhanced with the typical `fromPromise` capabilities

[2017-07-25 08:53] mweststrate commented on #41
Done and released as part of 3.0.0

[2017-07-25 08:53] #41 closed

[2017-07-25 08:53] #53 closed

[2017-07-25 08:53] #45 closed

[2017-07-25 08:54] mweststrate commented on #39
3.0.0 introduced the methods `fromPromise.reject(value)` and `fromPromise.resolve(value)`.

[2017-07-25 08:54] #39 closed

[2017-07-25 12:35] Strate commented on #41
Wow, great! Thank you, and sorry for not to be volunteer of this :(

[2017-07-27 22:45] daedalus28 opened #66 "Feature Request: whenAsync"
I have a few use cases where I'd like a promise for when an observable is set with a certain value. `when` is awesome, but it effectively takes a callback for when the predicate returns true instead of resolving a promise.

I've implemented this as `whenAsync` like so:

[code]

And I use it like this:

[code]

It's especially useful for detecting when boolean values change, e.g. getting a promise

[2017-07-28 06:44] mweststrate commented on #66
Yes makes perfect sense!

Op vr 28 jul. 2017 00:45 schreef Samuel Greene <notifications@github.com>:

[2017-07-28 15:30] daedalus28 commented on #66
Awesome, I'll add a PR for it!

[2017-08-02 03:49] daedalus28 commented on #66
Hi there! I've taken a quick stab at a PR adding `whenAsync`. I tried to follow conventions used by the project already but I'm sure I'm missing things. Feedback is greatly appreciated 😄

[2017-08-04 13:04] d4rky-pl opened #69 "README \@"
Hey, I've noticed that all README examples prefix `@decorators` with `\`. Is it a TypeScript, did I miss something or is it just a typo and I should send a PR? :)

[2017-08-04 13:42] d4rky-pl opened #70 "@asyncAction with ES6 (not TypeScript)"
[It seems that generator functions do not work with decorators](https://github.com/loganfsmyth/babel-plugin-transform-decorators-legacy/issues/26).

~I've tried using `@asynAction something = function*() {}` but it does not seem to work properly.~

The easiest workaround so far seems to be:

[code]

It might be a good idea to add this to README :) I can send a PR if you agree.

[2017-08-07 22:19] zyrolasting opened #71 "Resolving memory leak using asyncAction"
New to mobx-utils, so I suspect this is more a question for clarification than an issue report. Please direct me accordingly and thanks in advance for any help.

What I want to do is use a store that I can refresh when I know new service data is available like `lazyObservable`, but easily attach more computed values and action functions. The endgame is to have a method for writing stores that's ea

[2017-08-11 12:55] minipai opened #72 "Get values from view modal?"
Hi, do you think it's reasonable to add a method to viewModal to get current values?
Now I end up using  `var { localValues, model, isPropertyDirty, ...data } = viewModal`
and use the `data`
I am happy to add it and make PR.

[2017-08-21 17:09] geohuz opened #73 "best way to use the lib"
I'm not sure if the fromPromise object can be mutated directly or I need to use set function? The same question applies to the createViewModal, it seems that we can mutate viewModal directly without having set function. And can we createViewModal from fromPromise? Thanks!

[2017-08-24 15:17] daedalus28 commented on #66
@mweststrate Any update on this? I've had a PR open for a while

[2017-08-29 18:40] jshaker opened #76 "Computed Async"
I don't know if this has been brought up before, I'd assume so, but is there any plans to release a ComputedAsync in mobx-utils?

Here it's been developed by a 3rd party: https://github.com/danielearwicker/computed-async-mobx

I personally enjoy this plugin and so far it hasn't failed me. Of course I'd prefer using features that are supported by the MobX community and so maybe there's a reason why

[2017-08-31 11:24] #66 closed

[2017-08-31 11:30] mweststrate commented on #76
Yep that looks pretty need! If @danielearwicker is interested in merge it, PR's are welcome :)

That being said, Daniel is not unknown in the MobX communty, so I think you can safely use his work even if not part of mobx-utils ;-)

[2017-08-31 11:32] #76 closed

[2017-08-31 11:33] mweststrate commented on #70
@d4rky-pl agreed :)

[2017-08-31 11:34] mweststrate commented on #71
Closing as duplicate of https://stackoverflow.com/questions/45556604/how-does-garbage-collection-address-async-actions-in-mobx-utils

[2017-08-31 11:34] #71 closed

[2017-08-31 11:35] mweststrate commented on #69
No, truth is, I don't know how to write decorators in JSDoc comments. `@xx` is parsed as JSDoc instruction so `@observable`  would close the `@example` block. If you know how to fix it, PR is welcome :-D

[2017-08-31 11:41] danielearwicker commented on #76
I just last week rewrote it to be a ultra thin layer over `fromPromise`, so I will gladly PR it into -utils. My tests are a shameful mess though, lots of timing dependent async crap. So I will tidy that up first.

[2017-09-01 07:27] devdoomari opened #77 "how do I use fromStream with mobx-react observer?"
in TS, when I do:

[code]

I only get someSignal of type:
[code]
which ...doesn't seem like a mobx observable.
Is there an example of using fromStream with mobx-react's observer?

Thank you!

[2017-09-01 15:28] d4rky-pl commented on #69
Seems like a bug in Doctrine, the parser that documentation uses - eslint/doctrine#188

[2017-09-03 02:44] jshaker commented on #70
Why not just call a regular action within an async function?

[2017-09-04 07:13] d4rky-pl commented on #70
@mweststrate This will take a bit longer, I'm afraid. The comments in code are not always valid JSDOC so every time documentation is regenerated, there are some things missing, some broken etc. I will dig into it when I have more spare time :)

[2017-09-04 07:20] mweststrate commented on #77
the `current` method is tracked, so if you use it you get updated when it
updates in the future. See also the unit-tests

Op vr 1 sep. 2017 om 09:27 schreef devdoomari <notifications@github.com>:

[2017-09-04 08:12] devdoomari commented on #77
@mweststrate
is this the right unit-test file?
https://github.com/mobxjs/mobx-utils/blob/master/test/observable-stream.js
it doesn't seem to give any example of using mobx-react's ```@observer``` and fromStream...
Also, since I'm using typescript, I don't know what to make of fromStream's return type :(

[2017-09-04 08:19] mweststrate commented on #77
`.current()` is an observable, so you can just use it in the `render` of an
observer component and it will react to future updates. Mobx utils is
written in typescript, so type inference should be correct.

Op ma 4 sep. 2017 om 10:12 schreef devdoomari <notifications@github.com>:

[2017-09-04 08:29] devdoomari commented on #77
uh... could you post a specific example code?
I'm not that smart enough to understand & implement that on my code...

so far, are you saying ( * I might understand things wrong *):

[code]

will do? (and that SomeComponent will auto-rerender whenever someSignal is updated?)

[2017-09-04 08:33] mweststrate commented on #77
yes that is correct

Op ma 4 sep. 2017 om 10:29 schreef devdoomari <notifications@github.com>:

[2017-09-04 08:34] mweststrate commented on #77
but use @observer instead of @observable

Op ma 4 sep. 2017 om 10:33 schreef Michel Weststrate <mweststrate@gmail.com

[2017-09-04 08:39] devdoomari commented on #77
ok! thanks for your guidance! closing!

ps: do you think this should be added to mobx-util docs? (or example)?
for someone like me, this might not be very obvious

[2017-09-04 08:39] #77 closed

[2017-09-11 02:13] peebles opened #79 "adding new values to a lazyObservable array"
My lazyObservable array works great the first time the react component is mounted, and later if I do something like

    list.current()[ 5 ].name = "jones"

The table showing the list is re-rendered and I see the new name.  But if I

    list.current().push( newPerson )

My table is not growing by one.

[code]

What am I missing?

[2017-09-11 02:32] peebles commented on #79
I probably should note that the list.current().push() is happening after an async fetch of data from a backend.  Interestingly enough, if I push onto the list prior to making the async call, I do see the list grow.  This mobx newbee must be missing something....

[2017-09-11 02:56] mattruby commented on #79
If possible, please create a small reproduction of your issue on
codesandbox.io or jsfiddle.

On Sun, Sep 10, 2017, 9:32 PM peebles <notifications@github.com> wrote:

[2017-09-11 04:47] peebles commented on #79
I'll try.  I have been trying other things ... like @action.bound, but
still haven't any success.  I had high hopes for @action.bound!

Is there any sort of minimal template I can start with for creating a
fiddle with mobx/react and decorators?

On 9/10/17 7:56 PM, Matt Ruby wrote:

[2017-09-11 12:48] mattruby commented on #79
Lots of min templates. Check out codesandbox.io

On Sun, Sep 10, 2017, 11:47 PM peebles <notifications@github.com> wrote:

[2017-09-12 02:37] peebles commented on #79
Ok: https://codesandbox.io/s/53l4vqnm7x

When it runs, it will show a list of two names.  Click on add patient,
and it tries to add a third.  You can see that the list does not
re-render.  If you just type a space in index.js to cause it to
re-render, you'll see three names.

So this appears to be representative of the problem I am seeing ... how
to update a lazyObservable in the future, async.

O

[2017-09-12 20:07] mattruby commented on #79
Soooo, I don't use `lazyObservable`.  But from what I can tell, I think you're using it wrong.  Here's a working example of it in action using fetch: https://codesandbox.io/s/zxq8prpwo3 Look at the console

I'm pretty sure you should not be messing with `lazyObservable.current()`'s results.  If you want to update the results, I think you should be calling '.refresh()' on the `lazyObservable`

[2017-09-12 20:32] mattruby commented on #79
@peebles Here's your example (tweaked around a bit) working with `lazyObservable` https://codesandbox.io/s/jn8vqk4vz9

[2017-09-12 20:52] peebles commented on #79
Yeah, I see.  I had also tried that, but I don't really want to go back
to the server for a complete reload of the list.  My real addPatient()
will hit the server to add a patient and the response is the added
patient along with its new database id.  If I had to refetch the list,
and the list was significantly large ...

I mean at that point, I'd just use a regular observable and load it in
compon

[2017-09-13 19:35] mattruby commented on #79
Feel free top re-open if you have more questions.

[2017-09-13 19:35] #79 closed

[2017-09-18 09:15] vonovak opened #80 "[question] built-in delayed reaction?"
it there some built-in function in mobx which does this:?

1 . user types into a search field
2 . loading indicator is shown immediately
3 . request is sent to a server with a small delay, debouncing the user input

I imagine some sort of reaction where one side effect is executed immediately (loading indicator) and other delayed (network request).

thanks

[2017-09-18 12:52] mattruby commented on #80
See autorunasync or reactions options in mobx proper.

On Mon, Sep 18, 2017, 4:15 AM Vojtech Novak <notifications@github.com>
wrote:

[2017-09-19 20:01] NetanelBasal opened #82 "toStream should push the initial value"
Hey,

I am starting to work on a library that connects mobx to Angular 2. I am using `fromStream` to make a bridge between Rx and mobx, but the problem is that `fromStream` does not push the initial value.

What can we do about that?

I can use the `startWith` operator, but it's not cool 🙈.

[code]

Thanks.

[2017-09-20 15:10] urugator commented on #73
Object returned from `fromPromise` is read only.

You can modify viewModel just like the object it was created from.

Haven't tried, maybe possible, but quite useless to do so I think.

[2017-09-24 07:25] NetanelBasal commented on #82
We can add the following code to support this:

[code]

[2017-09-26 14:30] mweststrate commented on #82
@NetanelBasal agreed! interested in creating a PR including a unit test?

[2017-10-12 10:01] geekflyer opened #90 "using fromPromise inside computed and trigger manual retry"
Hi,

I found it a very nice pattern to combine `@computed` with `fromPromise` to achieve lazy data fetching. Data is fetched only once it's needed somewhere in a visible UI component (without explicitly triggering the data fetching via some router or component hooks) and automatically reloads the data once some fetching relevant param changed.

For example see the small example below:

[code]

In

[2017-10-12 10:03] geekflyer commented on #90
btw in part this is related to https://github.com/mobxjs/mobx/issues/307

[2017-10-12 12:19] mayorovp commented on #90
What about this solution?

    @observable _todosPromised = null;

    @action.bound
    retry() {
        this._todosPromised = null;
    }

    @computed
    get todosPromised() {
        if (!this._todosPromised) {
            this._todosPromised = fromPromise(fetch(`/${this._accountStore.currentAccountId}/todos`));
        }
        return this._todosPromised;
    }

[2017-10-21 20:04] ArielGueta opened #91 "toStream does not seems to handle errors"
The `toStream` implementation does not implement error handling. There is no `observer.error()` call to propagate the error.

[code]

[2017-11-08 17:44] daedalus28 opened #93 "Mobx react utils?"
Hi there!

We have some utils we built for mobx react that probably don't belong here. Should we create a new repo for `mobx-react-utils`?

As an example, we have a util that wraps observer + inject + displayName. I'm planning to write up something more about this pattern, but it looks like this:

[code]

In a nutshell, since `inject` creates subscriptions to observables created in it, it allows a

[2017-11-10 12:11] bellostom opened #94 "mobx.observable.map is not a function"
Hi

Using mobx v2.7, mobx-utils v.3.2.1
I try to wrap an observable in a viewModel by calling createViewModel and passing the observable,
I get the below error
TypeError: mobx.observable.map is not a function
    at new ViewModel (mobx-utils.umd.js:447)
    at createViewModel (mobx-utils.umd.js:560)

Any ideas?

[2017-11-14 05:47] sonhanguyen opened #95 "Question about naming and interfaces"
I was just curious what was the reasoning behind `.value` from `fromPromise` and `current()` from `fromResources` and `lazyObservable` as those name does not appear anywhere else in `mobx`.

One would expect those to implement the same interface as either boxed value or observable. In RxJs most of the return values are `Rx.Observable`. What's the equivalent predictable interface for the return val

[2017-11-15 04:28] JoshuaKGoldberg opened #96 "TSLint rules specific to mobx?"
I was reading through https://mobx.js.org/best/actions.html and thought it very interesting that `async` methods need to have special handling beyond just a standard `@action` decorator.

Is there a TSLint rule published anywhere that can enforce `@asyncAction` be used on a generator instead of `@action` on an `async` method?

Scoping out: is there a collection of MobX-specific TSLint rules the wa

[2017-11-18 03:41] fxfactorial opened #97 "State changes not rejected when useStrict is on but mutation is done in an asyncAction"
I am on

[code]

And I notice that mobx will raise an expect exception for a state mutation when useStrict is true when not in runInAction but when the mutation is done in an asyncAction, then no exception is raised.

[2017-11-20 21:42] urugator commented on #97
`asyncAction` is just a syntactic sugar for a series of actions interlaced with a series of async ops, so you don't have to write `runInAction` after/before each await/then.

[2017-11-23 13:39] bellostom commented on #94
Any comments on this?

[2017-11-23 13:46] mweststrate commented on #94
You need mobx 3 or higher: https://github.com/mobxjs/mobx-utils/blob/master/package.json#L52

[2017-11-23 13:48] bellostom commented on #94
Thanks

[2017-11-23 13:58] mweststrate commented on #97
@fxfactorial that is exactly the purpose of `asyncAction` indeed  :)

[2017-11-23 13:58] #97 closed

[2017-11-23 14:00] mweststrate commented on #96
@JoshuaKGoldberg afaik nothing like that exists, but feel free to create such rules :). The only related concept is the [mobx-deep-action](https://github.com/mobxjs/babel-plugin-mobx-deep-action) transformer for babel that wraps async pieces in action.

[2017-11-23 14:00] #96 closed

[2017-11-23 14:01] mweststrate commented on #95
@sonhanguyen I don't think there is a clear reason for these distinctions. Feel free to PR an alignment :) (preferably a backward compatible one)

[2017-11-23 14:01] #94 closed

[2017-11-23 14:03] mweststrate commented on #93
I think a separate repo would be best indeed! Cool ideas :)

[2017-11-23 14:03] #93 closed

[2017-11-23 14:04] mweststrate commented on #91
@ArielGueta that is because errors of a computedValue cannot be observed. Rather, they are thrown back to the causer.

[2017-11-23 14:04] #91 closed

[2017-11-23 14:10] mweststrate commented on #90
I think @mayorovp's solution is a nice one. (Optionally you could instantiate the promise in the retry instead, and call that one if the promise has not yet been set).

The `fromPromiseWithRetry` has indeed the problem that it leaks. But also it is weird, that it gives the promise (like thing) a retry, which is a conceptual mismatch with promises which are per definition not replayable; the thing

[2017-11-23 14:10] #90 closed

[2017-11-23 14:11] #69 closed

[2017-11-23 14:17] mweststrate commented on #82
Released as 3.2.2 (sorry for the late follow up!)

[2017-11-23 14:17] #82 closed

[2017-11-23 14:17] #80 closed

[2017-11-23 14:17] #73 closed

[2017-11-23 14:19] mweststrate commented on #72
Feel free to create such a thing :) `getCurrentState()` ?

[2017-11-23 14:22] #70 closed

[2017-11-23 22:04] urugator commented on #95
RxJS doesn't return `Rx.Observable` to make things predictable for user, but because it has to. It has to return some common abstraction so it can be used further by library (e.g. observed).
But MobX "observability" works without the need to wrap objects into a specific interface.
So we can directly return arbitrary object representing specific things without the need to wrap them into some common

[2017-11-23 22:10] urugator commented on #95
Btw check the current description for `initialValue` of `fromResource` in the README.md  :)

[2017-11-24 01:18] sonhanguyen commented on #95
@mweststrate sure let me have a look
@urugator I'd say `fromX` has to return observable as well. To me, It seems the point of these functions is to normalize data sources to a common interface. If those function just simply converting an arbitrary interface to another arbitrary interface then they are not really helpful. Take `fromPromise` for example, I don't find the fact that it returns a promi

[2017-11-24 06:39] urugator commented on #95
Observability in MobX is not defined by interface. Any object can be observable (consumed by Mobx) no matter what the interface is. Unlike RxJS there aren't methods which consumes a special "observable" interface. Why would you introduce an abstraction, if it's not used or required by anything?
The values produced by `Rx.Observable` (the value supplied to observer's `next`) also have an arbitrary

[2017-12-06 02:12] c0debreaker opened #98 "API return 500 Internal Server error but fromPromise still went to fulfilled"
Here are my codes.

This code is taken from my Mobx store.
[code]

Here is the code that consumes the output of `fromPromise`.

[code]

Here is the api error on my Chrome Dev Tools - https://imgur.com/a/e1XxC

[2017-12-06 02:29] c0debreaker commented on #98
After I removed my `.catch((error) => { ......`, it works now. Was that the reason why it was failing earlier?

[2017-12-06 02:30] c0debreaker commented on #98
How can I pass the full error from axios?

[2017-12-06 08:30] mweststrate commented on #98
From top of my head: catch terminates the promise and doesn't let the
exception escape. I'm always confused by this as well, but I think instead
of using catch you should use the second argument of then to intercept the
error but don't stop it from progating (you might need to end it with
`return Promise.reject(error)` or `throw error`

Op wo 6 dec. 2017 om 03:30 schreef c0debreaker <notifications

[2017-12-06 08:37] c0debreaker commented on #98
Thanks Mitchel. I'll try that.

[2017-12-06 08:37] #98 closed

[2017-12-06 12:52] Strate commented on #90
I've tried solution from @mayorovp and got "Cycle detected in computation" error. Am I missing something?

[2017-12-06 13:18] geekflyer commented on #90
I haven't tried @mayorovp' solution but he performs a side effect / mutation of an external observable inside a computed method which supposed to be side-effect free, which looks odd to me.

Anyways, I actually built in the meantime a custom implementation of the whole thing which more or less takes the API of `fromPromise` and but in principle works like the library https://github.com/danielearwi

[2017-12-06 13:39] mayorovp commented on #90
@geekflyer  your solution goes wrong if no property is observed:

[code]

@Strate My new solition:
[code]

[2017-12-06 13:46] geekflyer commented on #90
@mayorovp What do you mean with it goes wrong?

[2017-12-06 13:56] mayorovp commented on #90
@geekflyer outside of reaction any access to any property will call computeFn again and again

[2017-12-06 14:09] geekflyer commented on #90
@mayorovp I think this expected behaviour and the same as with regular (sync) mobx computed functions.

[code]

I think its anyways sort of an anti-pattern to access a computed function outside of an reaction - the library from @danielerwicker even enforces that and throws an error if you attempt to do that.

[2017-12-06 14:11] mayorovp commented on #90
@geekflyer enforsing and throwing is good. Silently sending resuests to server again and again is bad.

[2017-12-19 11:23] will-stone opened #99 "fromPromise returns value as undefined during pending state, is this correct?"
Hi. First-off, thank-you very much for MobX and MobX-Utils; I'm learning new tips and tricks every day. I've recently switched a lot of my fetchers over to use fromPromise and it has greatly reduced some repetition in my code. One thing I've noticed is that [observable].value will become `undefined` when the promise is in `pending` state, despite me setting the default value. Is this correct? Or s

[2017-12-19 13:21] mweststrate commented on #99
I think your problem is that you use `DidMount` instead of `WillMount`.
DidMount fires only after the first render, so until that time `this.test`
is not set

Op di 19 dec. 2017 om 12:23 schreef Will Stone <notifications@github.com>:

[2017-12-19 13:27] will-stone commented on #99
Hmmm... from [previous](https://daveceddia.com/where-fetch-data-componentwillmount-vs-componentdidmount/) research, I thought fetchers (state changers) should be in `didMount`. That aside, it's asynchronous, the console.log is simply firing on changes to the `testComputed` observable. No matter where the call is that fetches the data, the value will still go through
[code]
No?

[2018-01-02 17:08] mhluska opened #100 "createViewModel and computed getters on model"
It looks like the view-model created by `createViewModel` only inherits the obseravable and not the computed properties of the underlying model. Seems like a gotcha unless I'm missing something?

[2018-01-09 16:08] mweststrate commented on #100
That is probably something that could be added with a little reflection indeed

[2018-01-09 16:08] mweststrate commented on #100
PRs welcome

[2018-01-09 16:15] mweststrate commented on #99
Sorry, missed the notification @will-stone.

Anyway, this is (inconveniently) behaving as expected the states of `this.test`  will be:
1. `undefined`, as long as `fromPromise.resolve([])` didn't resolve (but you probably won't notice this one
2. `[]` when the above resolved
2. `undefined`, because there is a new, unresolved promise in `test` which doesn't have a value yet. `test` no longer refers

[2018-01-09 16:17] will-stone commented on #99
Ah, ok. I've been using computed more often recently so will give that a go. Thanks.

[2018-01-09 16:17] #99 closed

[2018-01-11 10:59] jimmycarry opened #102 "I have a question?"
Does mobx-utils work perfect with mobx? Is mobx-utils **continually updated** when mobx update? I'll use mobx in my company project ,but I don't know mobx-utils permanence with mobx

[2018-01-11 14:08] mweststrate commented on #102
It is updated when incompatibilities with latest MobX version arise

Op do 11 jan. 2018 om 11:59 schreef jimmy ye <notifications@github.com>:

[2018-01-11 14:33] #102 closed

[2018-01-18 08:49] ypwlal opened #104 "enhance asyncAction with canceler function"
Refer to redux-saga, I would like to find a way to cancel actions' effects such as observable value changed after async function or entering *catch block code.*, especially for a singleton store in multiply components.

Like the concept of task in redux-saga, there will be two kinds of types actions:
* ***takeEvery*** which means the async action can be called repeatedly at the same time. In this

[2018-01-18 19:24] sdzharkov opened #105 "Parsing Error for asyncAction"
I've been trying to use the asyncAction function, but get an Unexpected token error every time I add the * before the function.

Here is my function:
[code]

Am I missing some babel plugin? I tried adding
[code]

But that didn't help.

[2018-01-20 19:39] daedalus28 commented on #105
Hi there! This seems like an issue better suited for the babel repo or possibly something like stack overflow.

Personally, I don't use the decorator syntax. As a workaround, you can try simply wrapping your methods using `asyncAction` as a function instead - it should work out of the box. Hope that helps!

[2018-01-20 19:39] #105 closed

[2018-01-27 22:14] minipai opened #106 "Can't make test fail"
I was trying to work on #72, however I can't make test works(fail).

When I run `npm test`; there seems to have some problem while rollup compile `create-view-model.js`.
<img width="1012" alt="screen shot 2018-01-28 at 9 12 40 am" src="https://user-images.githubusercontent.com/239570/35476852-88699c6e-040b-11e8-8f43-3cd716734588.png">

The result is **✓ create view model** is always green. Even wh

[2018-02-08 17:06] vonovak opened #107 "question on fromPromise"
Hi! I have written a test where I have used

[code]

When I rewrite it as

[code]

It also works - Is that a coincidence, or is that supported? For a second I though babel might transpile the await call into then() but I don't think that is the case, at least according to babel repl. Thanks!

[2018-02-09 16:29] daedalus28 commented on #107
Sorry, I'm not following. The question seems unclear. What is happening? Also, at first glance, this seems like a question for the babel repo.

[2018-02-09 17:03] vonovak commented on #107
@daedalus28 I updated the description, sorry :)

[2018-02-09 17:40] daedalus28 commented on #107
@vonovak that is expected. It's how `await` works - it's basically syntactical sugar for `.then` (although that is an oversimplification for sure). Depending on your babel settings, it may or not be compiled (if it is, it's likely using a generator alternative using something like `regenerator`), but the native JS feature of `await` should generally work to allow you to unnest promise `.then` chai

[2018-02-09 17:40] #107 closed

[2018-02-11 20:00] vonovak commented on #107
@daedalus28 sounds good, and after I checked the source code I see how it works (ie. `fromPromise` returns a promise). I feel like the docs should be improved though, because they make it sound more like the returned value is not a promise, but rather something that wraps the promise:

I'll try to ship over a PR that improves it

[2018-02-18 20:46] vonovak commented on #107
@daedalus28 related: https://github.com/mobxjs/mobx-utils/pull/108

[2018-03-06 19:33] mweststrate commented on #106
Just migrated the test suite to use `jest`. That should fix the issue. Hope it helps! If it causes new problems, feel free to reopen this issue.

[2018-03-06 19:33] #106 closed

[2018-03-07 22:26] alisabzevari commented on #45
Sorry @mweststrate, [this issue](https://github.com/mobxjs/mobx/issues/1370) made me think about this issue again. I think the current implementation is cool, but it can be cooler if it was possible to chain an `ObservablePromise`. Consider the following example:

[code]
It would be cool if `b` was still an `ObservablePromise`. In other words, it would be so cool if we had a `Promise` type with al

[2018-03-07 22:37] mweststrate commented on #45
At this moment `fromPromise` already returns a real promise, and can be
chained accordingly? Or do I misunderstand the question?

Op wo 7 mrt. 2018 om 23:26 schreef Ali Sabzevari <notifications@github.com>:

[2018-03-07 22:45] alisabzevari commented on #45
It can be chained (like the example), but after the first `then` or `catch` call it will not be an `ObservablePromise` anymore. It will be a native `Promise`.

[2018-03-07 23:09] mweststrate commented on #45
Ah I see. Do you have use cases for that? Usually i am only interested in
the end of the promise chain, and i chain everything before passing it to
frompromise

Op wo 7 mrt. 2018 23:45 schreef Ali Sabzevari <notifications@github.com>:

[2018-03-08 09:09] alisabzevari commented on #45
For example:
[code]
or:
[code]
* Those examples are almost like suspense.
* Here we don't have any surprising syntax. It is like how we use `map` in JSX. So I prefer to have the  `ObervablePromise` (like `ObservableArray` and `ObservableMap` etc that we have in mobx).
* Also it would be interesting to have `ObservablePromise.all` function that returns an `ObservablePromise`.

[2018-03-08 10:49] mweststrate commented on #45
The second example doesn't make sense (without suspense and throwing the promise), as far as I can see, as it doesn't return a value but an not-yet-resolved promise. Which is something a react component render cannot do anything with.

For the first example, that could work indeed, but I think actually the current form is clearer (and doesn't need any hacking around promises :)), as it doesn't mix

[2018-03-08 17:29] alisabzevari commented on #45
If we could chain `ObservablePromise` this would be the implementation of `Loading` component (without throwing a promise):
[code]
My argument is that **if** we could hack around promise, we could do some cool things like this example. Currently, it is not possible because `then` and `catch` methods of `ObservablePromise` does not return an `ObservablePromise`.

Regarding the first example, Mobx h

[2018-03-09 11:40] eranshabi commented on #96
I created some rules for MobX and TSLint. Feel free to use (or contribute your own rules): https://github.com/eranshabi/tslint-mobx

[2018-03-14 03:42] Kielan commented on #105
@sdzharkov I think decorator syntax is broken for this method, and also asyncAction is being deprecated for a different preferred strategy in 4.0.0 and this method just isn't getting enough open source love. Could be wrong but I am dealing with related issue using this project as well.

[2018-03-14 03:53] sdzharkov commented on #105
Right, I stopped using it all together in favor of just a normal async call with the runInAction method. The new Flow method for chaining async actions does look pretty tight though.

[2018-03-15 16:48] mweststrate opened #114 "keepAlive can be deprecated"
MobX 4.1 introduced `keepAlive` as option to `computed`

[2018-03-19 04:06] kring opened #116 "createTransformer leaks memory when run outside a reactive context"
The docs say:

But it's worse than that. A transformer used outside a reactive context will leak memory each time it is called with a new value. The object created by `createView` will be stored in `views` for each invocation, but because `onBecomeUnobserved` will never be called, that view will never be removed. For example, this code causes well over a gigabyte of memory to be allocated:

[code]

[2018-03-20 00:18] navidjh opened #117 "IViewModel is missing resetProperty(propName: string): void;"
IViewModel interface is missing the function signature resetProperty(propName: string): void;
this is preventing me to use that function in TypeScript.

[2018-03-20 13:33] rzcoder opened #119 "fromPromise bug with extendObservable in mobx4"
If try cast promise to observable 2 times, like:
[code]

causes

[code]

[2018-03-22 10:34] mweststrate commented on #119
It probably should be a no-op, but why do you cast it twice?

[2018-03-22 10:46] rzcoder commented on #119
Some logic when need make external promise observable in few isolated components ¯\_(ツ)_/¯

[2018-03-22 23:53] tylerjwatson opened #120 "Please consider exporting ViewModel"
Hi!

I need to subclass `ViewModel` to override `submit()`.  Currently my choices are implement `IViewModel<T>` with the same code, or replace the function on the created instance every time I get a new one out of the factory.

My use cases are this:

1. Allow for saving a view model back to a remote end (an async action) before submitting the changes back into a view model, and
2. Override the co

[2018-04-03 00:15] elado commented on #119
same here, use case is a function that returns the same promise, and computed property that wraps it with fromPromise.

[code]

the intention is when store.id changes it would load another one, but fromPromise mutates the [original promise](https://github.com/mobxjs/mobx-utils/blob/master/src/from-promise.ts#L77-L85).

So question is - should it be a no-op if it recognizes it has already been exte

[2018-04-03 18:45] andrewgadziksonos opened #122 "computed fromPromise with nested promises does not reevaluate when observable changes"
Hello there!  I'm running into this issue where I have certain computed values that are promises of promises, filtered on observables, which are not reevaluated when the observables it depends on changes.  Here's an example,

[code]

`this.selectedHouseholdId` is updated by a `<select>` field in the UI, but I noticed that the list of `customerProducts` is not reevaluated when that changes.  What a

[2018-04-09 08:18] neoel opened #123 "mobx peerDependency incorrect"
I've installed mobx@4.1.1 with mobx-utils@4.0.0 but I get a warning that the peer dependency is incorrect.
Update the peerDependency so it's searches _all_ valid versions of mobx.

[code]

[2018-04-09 22:24] simoami opened #124 "createViewModel and new model assignment"
Is there a way to get the created view model to react to new object assignments? It works at the property level but not when replacing the model instance.

Any chance this can work?

[code]
Any tips on how to replace the instance values and still maintain the observability?

[2018-04-10 01:56] simoami commented on #124
Nevermind, I realize createViewStore is only concerned with properties, not with the parent object. I just needed to declare viewModel as observable, then when I reassign the model, and recreate the viewModel again.

[2018-04-10 01:57] #124 closed

[2018-04-12 21:18] daedalus28 commented on #120
Merged #125

[2018-04-12 21:18] #120 closed

[2018-04-20 11:13] urugator commented on #119
Is the current behavior actually intended?
To me it seems that:
[code]
should actually be
[code]
So that the `promise.then` is chained after the update of observables rather than running "concurrently" (due to JS sync nature it also runs after, but semantically it's concurrent)

Also doc suggests different behavior:

[2018-04-21 12:47] Strate commented on #123
@mweststrate sorry for disturbing, but I would like to ping you here. Fix already merged, but not released to npm, could you release pls?

[2018-04-23 04:35] mweststrate commented on #122
That behavior is correct, `@computed` only tracks what happens during its own computation, not stuff that happens in the future (like) `then` resolvers.
You could restructure this like the follow, so that the computation of the returned promise depends on both the houseHoldId and the registeredProducts (computed values don't base their computation on what happens *after* returning something, becau

[2018-04-23 04:35] #122 closed

[2018-04-23 04:56] mweststrate commented on #104
See #103, I think the idea is fine, basic support for cancel and generators has been made part of mobx in form of the `flow` api. Many further powerful patterns are possible, but I feel that would be better served in a dedicated package

[2018-04-23 04:56] #104 closed

[2018-04-23 06:45] mweststrate commented on #119
@urugator good point, but I noticed that attaching error handlers became a bit weird in that case, failing some unit tests (might have been an error on my side of course). Will re-investigate if it causes trouble somewhere in the future

Anyway, the original bug reported in this issue has been fixed in 4.0.1

[2018-04-23 06:46] mweststrate commented on #120
Released as 4.0.1

[2018-04-23 06:46] mweststrate commented on #117
Fix has been released as 4.0.1

[2018-04-23 06:46] #117 closed

[2018-04-23 06:46] mweststrate commented on #123
Fix has been released as 4.0.1

[2018-04-23 06:46] #123 closed

[2018-04-23 06:49] mweststrate commented on #116
Any memoization mechanism suffers from a similar faith semantics. While using computed outside reactive context is in principle harmless, createTransformer is not. I think the proper solution to this problem is too simply throw (PR is welcome!). cleanup could work as well, but it means that users might totally not get any benefits from use createTransformer at all, and is probably not what he inte

[2018-04-23 06:52] mweststrate commented on #55
MobX 4 exposes an `onbecomeUnobserved` hooks, which can be used to abort ajax requests like suggested above, and as demonstrated in https://codesandbox.io/s/l73yprwj9z.

[2018-04-23 06:52] #55 closed

[2018-04-23 06:54] mweststrate commented on #51
`onBecomeUnobserved` is now exposed in MobX 4, so I think that is enough to achieve the above in userland code?

[2018-04-23 06:54] #51 closed

[2018-04-23 06:54] mweststrate commented on #65
Done

[2018-04-23 06:54] #65 closed

[2018-04-23 06:55] kring commented on #116
Thanks @mweststrate. Perhaps whether MobX throws or calls `cleanup` immediately in this scenario could be controlled by `computedRequiresReaction` or a perhaps a new `createTransformerRequiresReaction`?

[2018-04-23 06:57] kring commented on #116
By the way, is it possible for something outside core MobX (because `createTransformer` is in `mobx-utils` now) to determine whether it is happening inside a reaction? If I remember correctly from when I looked at this before, it did not appear to be possible. We would need to be able to determine that in order to throw, of course.

[2018-05-10 18:39] dubiousdavid opened #128 "Replicate old extendObservable fn"
We've seen a number of bugs related to the change of `extendObservable` after switching from Mobx 3 to 4. Might be nice to capture the behavior of the old `extendObservable` to ease the transition. Something like:

[code]
Thoughts?

[2018-05-10 18:40] daedalus28 commented on #128
This seems like a good idea

[2018-05-10 19:03] mweststrate commented on #128
What kind of bugs?

Op do 10 mei 2018 20:40 schreef Samuel Greene <notifications@github.com>:

[2018-05-10 19:05] dubiousdavid commented on #128
Trying to set existing properties using `extendObservable`, or replacing `extendObservable` with `set` and trying to set properties on a non-observable object.

[2018-05-12 10:49] vivainio opened #129 "createTransformer: need a way to give a debug name"
We have several transformers. The drawback is that in mobx trace(), you don't see intelligible names for the transformation being triggered.

It would be useful to be able to give them a readable name.

[2018-05-16 15:34] carlosagsmendes commented on #100
Will this PR be merged soon?

[2018-05-16 17:04] carlosagsmendes opened #130 "QUESTION: createViewModel usage"
Hi there,

I'm trying to find the best way to migrate a KnockoutJS application to Mobx but I'm struggling with the flow of the data between my components local state and stores and would really appreciate some guidance.

From what I understand the recommended approach is to use some sort of local state to edit data and then push the modifications to the store.

There are a lot of packages such as

[2018-05-25 13:45] jamiewinder commented on #114
I've got just little utility I use which relies on `keepAlive` as-is:
[code]
This is only there to work around the behaviour of `keepAlive` evaluating the computed that it is keeping alive, but I don't think I'd be able to do this without `keepAlive` in its current form (well, apart from maybe misusing a `reaction`)

[2018-06-01 03:07] nzbiegien opened #131 "TypeError: invalid object where a stream was expected (rxjs 6.2.0)"
Hi,
I'm getting Error using `toStream` function.

![screen shot 2018-06-01 at 12 54 10](https://user-images.githubusercontent.com/7630720/40818554-fc8c86ce-659a-11e8-86f9-ea811778f468.png)

Code: (breaks on **Observable.from**)
[code]
Works 100% on Chrome.
Breaks sometimes on safari & firefox.
Breaks consistently on iOS safari.

Used app dependencies:

Any ideas what cause the problem?

[2018-06-01 16:35] mweststrate commented on #131
Nope, best create a minimal test case in a sandbox first

Op vr 1 jun. 2018 om 05:07 schreef Niko Zbiegien <notifications@github.com>:

[2018-06-02 16:01] natew opened #133 "Support tree shaking"
Just a small request. I'm only using fromPromise and isPromiseBasedObservable, but the total side to prod bundle is much bigger.

I'd imagine it's `sideEffects: false` in package.json and then having a es exported version?

[2018-06-04 14:48] mweststrate commented on #133
Probably yes, feel free to PR :)

[2018-06-04 18:06] mweststrate commented on #100
merged & released as 5.0.0 (sorry it took so long, more maintainers for this package would be welcome :-))

[2018-06-04 18:06] #100 closed

[2018-06-07 08:41] carlosagsmendes commented on #130
Thank you Urugator. I'll give it a try.

[2018-06-07 08:41] #130 closed

[2018-06-12 23:57] #131 closed

[2018-06-16 20:06] dbrody commented on #90
@geekflyer - Did you ever put that on npm? I'd love to try it out but not clear on the status / support / issues. If it was npm I feel like that would make it easier to understand the impacts of using it. Thanks!

[2018-06-17 09:19] geekflyer commented on #90
@dbrody Unfortunately not. I've created a github repo just now though to publish the internal version of this utility though: https://github.com/solvvy/mobx-async-computed . Since it's really just 1 file which contains all the code you could technically simply copy it into your project to try it out: https://github.com/solvvy/mobx-async-computed/blob/master/asyncComputed.ts  .
Let me know if you f

[2018-06-26 02:43] mark-buer opened #134 "id collisions in createTransformer"
There is a bug in `createTransformer` where the memoization of numerical strings, numbers and generated object id's may collide.

Example https://codesandbox.io/s/l5j5183yw9?module=%2Fsrc%2Findex.js:
[code]

Expected output:
[code]

Actual output:
[code]

[2018-06-28 21:42] adamabeshouse opened #136 "keepAliveLazy"
I'm running into 2 major issues with the current keepAlive implementation:

(1) It prevents garbage disposal when there are no real references anymore (because its implementation using `.observe(()=>{})` creates a permanent reference)

(2) It causes reactive re-computation whenever the observable dependencies change, which is not necessary.

A version of this, "keepAliveLazy" maybe, which addresse

[2018-06-29 14:52] adamabeshouse commented on #136
@mweststrate The difference is that I want it to stay cached outside the context of a reaction.

As I think about it more, I don't think it's possible to accomplish (1) without manual disposal, so I'll drop that need.

[2018-06-29 14:55] mweststrate commented on #136
Right, so it stays alive, becomes dirty when it needs to be, but only recomputes when a consumer arrives? Take a look at `Reaction` in mobx, I think you could write such a thing

[2018-06-29 14:56] mweststrate commented on #136
`observer` in mobx-react works a bit similar (although a bit noise source to read probably); it becomes dirty immediately, but doesn't recompute until the component is actual rendering (which is later in the future, depending on the scheduler of React itself)

[2018-06-29 15:18] adamabeshouse commented on #136
@mweststrate the problem I'm running into is how do I register a functions observable dependencies to a reaction, so that it can set the dirty flag, without actually running the function in the reaction (because it should only run when a consumer requests it). Is there a way to do that in the mobX API?

[2018-07-02 10:54] wrench7 commented on #100
I'm having trouble getting computed properties of my model to be referenced in the viewModel.

Digging into the ViewModel code, `Object.getOwnPropertyNames(model).forEach` doesn't actually return computed getters, which means those keys never get added to the localComputedValues map.

Here's the model I'm using to pass into the createViewModel function (simplified to show the crux of my issue):

[

[2018-07-11 17:13] kayakyakr commented on #100
@wrench7 can confirm that `getOwnPropertyNames(model)` does not pull computed properties off observables. Those are defined on `model.__proto__`.

@RafalFilipek I think to fix, might have to run the `isComputed` check against `model.__proto__` in a separate loop?

[2018-07-12 09:04] wrench7 commented on #100
@kayakyakr thanks for confirming. I looked at the code that was committed for this and the tests use `mobx.extendObservable` to create the observable. I'm using the `@observable` decorator in my code, so guessing that's why the tests didn't pick up the issue we're both seeing.

[2018-07-18 08:24] Frank1e0927 opened #138 "how can i integration React mobx and Rxjs?"
React Mobx Rxjs
I searched a lot on the Internet, but I couldn't seem to find any reasonable integration plan. I later discovered that mobx-util has fromStream and toStream. There was some light at the end of the tunnel, but soon I was lost again. Because I really don't know how to combine this.

How can i  organize a reasonable store and corresponding RXJS code

It would be great if you could giv

[2018-07-18 16:55] #133 closed

[2018-08-16 04:28] domehead100 opened #141 "[Documentation] replace "sink" with "sync" in lazyObservable and fromResource"
I was had some difficulty grokking the lazyObservable because the word "sink" has a particular meaning that is different (almost opposite) from what the callback is used for.  This is a very useful function when trying to build UIs that fetch data "on-demand" instead of imperatively.  (fromPromise inside of a @computed is also quite useful for this).

I propose to change the word in the documentat

[2018-08-17 14:11] #141 closed

[2018-08-17 14:13] mweststrate commented on #138
@Frank1e0927 did that answer the question?

[2018-08-17 14:14] mweststrate commented on #136
@adamabeshouse could you open a PR with how for you got on the implementation and tests? That collaborates more easily :)

[2018-08-17 14:17] mweststrate commented on #134
Released as 5.0.1. Thanks!

[2018-08-17 14:17] #134 closed

[2018-08-18 12:53] thejohnfreeman opened #143 "Please export StreamListener<T>"
`fromStream` returns `{ current: T, dispose(): void }`, which is awkward to type, so I create my own type alias for it, but would rather just import the right one from mobx-utils. I'd be happy to contribute this, but I have some questions.

`StreamListener` has some more stuff in it than just `current` and `dispose`, which themselves aren't even marked `public`.

1. Do you want me to separate `cur

[2018-08-18 13:27] mweststrate commented on #143
Public is the default in TS, PR exposing an interface is welcome!

Op za 18 aug. 2018 14:53 schreef John Freeman <notifications@github.com>:

[2018-08-23 20:23] bitttttten opened #144 "Keep the previous value when creating a new instance?"
I am fetching and refetching new articles using the same function, which looks like:

[code]

..and I am `switch`ing over `store.articles.state` to render a loading state, error state, and fulfilled state.

However, when re-fetching by calling this function again, it causes my view to go back into the loading state (which says "loading"). I am not really a fan of this approach, since what I would

[2018-08-31 20:32] AjaxSolutions opened #146 "Observable Query component"
Could the fromPromise utility function be expressed as a React observable Query component?  This would be similar to the React Apollo Query component.

https://github.com/mobxjs/mobx-utils#frompromise
https://www.apollographql.com/docs/react/react-apollo-migration.html#query-component

[2018-09-01 04:57] daedalus28 commented on #146
This lib is only for mobx-utils, and not mobx-react utils. I've been thinking about creating one for mobx-react which would include things like this `Awaiter` component, which consume a `fromPromise` result:

https://github.com/smartprocure/contexture-react/blob/master/src/layout/Awaiter.js

If this would be helpful, I can set up a repo for it and publish it (along with a few other utils intended

[2018-09-04 12:15] mweststrate commented on #146
Sounds like a perfect case for a `mobx-react-utils` package indeed. Such initiative would be welcomed! In the mobx-react package there are several other ideas that would fit in there as well indeed.

[2018-09-04 12:25] #138 closed, assigned to nobody

[2018-09-04 12:39] mweststrate commented on #143
Released as 5.0.2

[2018-09-04 12:39] #143 closed

[2018-09-06 07:30] LJJ1996 opened #148 "'mobx' does not contain an export named '$mobx'."
./node_modules/mobx-utils/mobx-utils.module.js
173:26-31 'mobx' does not contain an export named '$mobx'.

"dependencies": {
    "mobx": "^5.1.0",
    "mobx-react": "^5.1.2",
    "mobx-react-devtools": "^5.0.1",
    "mobx-utils": "^5.0.2",
｝

[2018-09-06 07:36] mweststrate commented on #148
"$mobx" is provided by both mobx 4 and 5, so should be available. Please
remove your node_modules to make sure no old dependencies are lingering
around. If that doesn't fix the problem, please create a minimal repository
demonstrating the problem

Op do 6 sep. 2018 om 09:30 schreef LJJ1996 <notifications@github.com>:

[2018-09-13 19:34] msholty-fd commented on #148
@LJJ1996 I had this issue with mobx 4.3.0, but upgraded to 4.4.0 and the issue went away. Give that a try.

[2018-09-17 00:55] WearyMonkey commented on #131
Just got hit by this. Can confirm it's not a mobx-utils bug, but https://github.com/benlesh/symbol-observable being a bad pony.

We're using symbol-observable (via redux), Rxjs and mobx-utils.

The behaviour in our build was:

1) Rxjs ponyfill imported, `Symbol.observable` not available so `'@@observable'` used.
2) symbol-observable imported via redux, `Symbol.observable` set.
3) mobx-utils import

[2018-10-05 22:02] jamarzka opened #151 "toStream doesn't seem to work with Maps"
Are Maps supposed to work with toStream? Am I doing something wrong? In the below example subscribe is never called.

https://codesandbox.io/s/7jyvo533n6
[code]

[2018-10-11 20:53] #148 closed

[2018-10-11 20:57] mweststrate commented on #151
Like `autorun` and `reaction`, `toJS` is a _tracking_ function, that means that it will track everything that is _read_ during the function execution. Your function doesn't ready anything (well, it does read `m`, but that is a `const` so it will never change).

Your function should derefernce what is supposed to be passed wonstream, for example `keys(m)` wil make it produce a value every time a ke

[2018-10-11 21:36] jamarzka commented on #151
Thanks! That all makes sense.

[2018-10-11 21:36] #151 closed

[2018-10-16 11:16] n9 commented on #116
@mweststrate Should this be implemented by `!globalState.inBatch`? (If yes, it seems that `globalState` is internal to `mobx`.)

[2018-10-16 21:17] xaviergonz opened #156 "deepReaction"
Basically the reaction counterpart of deepObserve
That rather than a function it takes an object/array/map and runs if it or any of its children change.
[code]

This would solve one of the questions I get more often from peers which is "why isn't it reacting when an object property changes"?
[code]

[2018-10-16 21:28] xaviergonz opened #157 "deepObserve with arrow function to also track reference changes"
While deepObserve is really nice it would be awesome if it could have an override like
[code]
That way if it is not only the object that can change but also its reference it could automatically pick up the change rather than having to kill and recreate the deepObserve
The type sent in this change could be something like "rootChanged" or some such

[2018-10-19 13:14] ItamarShDev commented on #157
so for my understanding, this is the line to start from?
https://github.com/mobxjs/mobx-utils/blob/714024ab9edbce2b215e0de8f6f26e517f0db809/src/deepObserve.ts#L49

And evaluate the method here?
https://github.com/mobxjs/mobx-utils/blob/714024ab9edbce2b215e0de8f6f26e517f0db809/src/deepObserve.ts#L57

Or am I totally misunderstanding the case?

[2018-10-19 17:17] xaviergonz commented on #157
basically something like (untested)
[code]
but embedded into deepObserve itself (athough as a new function would be ok too I guess?)

[2018-10-19 18:39] ItamarShDev commented on #157
Thanks!
Hope I'll find some time to dive into it myself

[2018-10-20 08:31] wbercx opened #158 "deepObserve missing from npm package"
It appears that deepObserve is not actually included in what is currently published as version 5.0.3. I ran into this when trying to use deepObserve, but kept receiving errors saying `deepObserve is not a function`. It is nowhere to be found in `node_modules`.

It is also missing from the [README on npm for 5.0.3](https://www.npmjs.com/package/mobx-utils/v/5.0.3).

_Stylistic sidenote: `deepObserv

[2018-10-23 04:31] mrducnguyen commented on #158
I'm having the same issue. Trying to use `deepObserve` but it is not found in version 5.0.3

[2018-10-23 09:06] mweststrate commented on #157
@xaviergonz why not just box the thing that might be changing?

E.g.
[code]

[2018-10-23 09:10] #158 closed

[2018-10-23 09:11] mweststrate commented on #158
Apologies, bug in the publish script. Fixed in 5.0.4

[2018-10-23 09:30] mweststrate commented on #144
Idea, allow `fromPromise` to be passed in a previous PromiseBased observable to reflect the state of the old one, until the new one has resolved?

[2018-10-23 09:33] mweststrate commented on #146
@AjaxSolutions does a package like https://github.com/ghengeveld/react-async or https://github.com/capaj/react-promise in that case not basically solve the same problem? If the component is designed to handle promises through their lifecycles, is there still a need to make them observable?

[2018-10-23 11:33] AjaxSolutions commented on #146
This was just an idea.  I don't have a problem if this idea is not implemented because there are other solutions already available.

[2018-10-23 11:57] mweststrate commented on #146
Check! closing for now as the general goal seem to more declaratively render a promise, not necessarily an observable promise, and abstractions exist for the first one :-)

[2018-10-23 11:57] #146 closed

[2018-10-23 12:04] #157 closed

[2018-10-23 15:06] xaviergonz commented on #157
wait, what if the target is actually an external source? I'd need to synchronize the boxed value with the actual value with a reaction right?

[2018-10-23 15:31] mweststrate commented on #157
if it is external, then it is probably a constant reference, and this whole
problem doesn't exist?

Op di 23 okt. 2018 om 17:15 schreef Javier Gonzalez <
notifications@github.com>:

[2018-10-23 15:54] xaviergonz commented on #157
e.g. in a react component

interface SomeProps {
  someObject?: object;
}

deepObserve(() => this.props.someObject, ...)
vs...
this.box = observable({target: this.props.someObject})
reaction(() => this.props.someObject, () => {this.box.target = this.props.someObject});
?

[2018-10-23 15:56] xaviergonz commented on #157
I guess basically what I want is some kind of "deepReaction" for arrays, maps and objects without having to resort to tricks like
[code]
etc.

[2018-10-26 09:54] bitttttten commented on #144
You're right, it was a typo @ItamarShDev . I have updated my original post :p

I like that idea. In the case of my example, would the syntax would be something like this?

`this.articles = fromPromise(fetch("http://someurl"), this.articles)`

[2018-10-27 08:40] ItamarShDev commented on #144
seems like a good idea :)

[2018-10-27 09:00] ItamarShDev commented on #144
@mweststrate is this a good approach? https://github.com/mobxjs/mobx-utils/pull/160

[2018-10-27 10:38] ItamarShDev commented on #72
Isnt current values sits in the `model` prop?
Am I missing something?

[2018-10-30 11:06] minipai commented on #72
Sorry, I am not using viewModal any more after using Formik.

[2018-10-30 11:06] #72 closed

[2018-10-31 07:25] shubhang93 opened #162 "Please Support Weak Maps in createTransformer. So that object arguments can be cached as well, right now the only way to cache object arguments is by Stringifying them."
Suppose I have transformer which transforms [{name:"ABC",age:24},{name:"XYZ",age:25}] into ["ABC==>24","XYZ==>25"], if the list changes at some point but retains most of its objects the cached values are recomputed as objects are compared by reference and not by identity. Right now I am stringifying each object but this is a cumbersome process and is not performant.

[2018-11-02 14:44] ItamarShDev commented on #162
So as far as I understand it, your request is to support an array?

[2018-11-03 01:43] shubhang93 commented on #162
Nope not an array, but a way to cache results for object arguments, since most mmeoizing functions support this by using a weak map as a cache , which in turn gives us the ability to compare object arguments by identity not the content, even though my object contents are exactly the same the memozing function recomputes because the object reference has changed. createTransformer can take an option

[2018-11-03 23:09] cannc4 opened #163 "deepObserve usage"
Hi, thanks for creating this.

Is there any chance someone can point me at the docs for the `deepObserve` function? I am after implementing redo/undo and it's too late to start with MST now so this seems like the only option

[2018-11-08 06:15] wbercx commented on #162
`createTransformer` already takes care of identity by [setting an auto-generated `$transformId`](https://github.com/mobxjs/mobx-utils/blob/master/src/create-transformer.ts#L64) on each object that gets passed in to the transformer.

If a provided object already has a `$transformId`, it retrieves the cached computed value for it if there is one. This will happen as long as you keep passing the same

[2018-11-08 08:37] urugator commented on #136
@adamabeshouse can you check whether https://github.com/mobxjs/mobx/pull/1799 solves the problem?

[2018-11-08 18:01] adamabeshouse commented on #136
@urugator that looks quite perfect!! I knew there'd be a nice way to do it from the inside. thank you!

[2018-11-09 08:05] #136 closed

[2018-11-10 10:15] shubhang93 commented on #162
Thanks a lot !

[2018-11-10 10:15] #162 closed

[2018-11-15 23:40] ItamarShDev commented on #129
I will have a look into it.
Hope to find my way though it :)

[2018-11-19 09:10] mweststrate commented on #163
https://github.com/mobxjs/mobx-utils#deepobserve

[2018-11-19 09:39] mweststrate commented on #144
Released as 5.1.0. Thanks @ItamarShDev!

[2018-11-19 09:39] #144 closed

[2018-11-19 16:55] ItamarShDev commented on #129
@mweststrate I can do this PR if some help could be supplied.
Kinda lost in the code :(

[2018-11-20 20:15] ItamarShDev commented on #129
Cool. will look into it
thanks @mweststrate

[2018-11-27 15:30] dedels opened #165 "lazyObservable triggers a React warning in render"
The warning is:

This [sandbox link](https://codesandbox.io/s/zk352j43vl) works... but I cannot figure out how to view its console to demonstrate the issue with a development build of React.

I think that asking for the .current() lazyObservable value updates an internal observable inside lazyObservable... and since that is referenced in the render method, we get the warning above.

And this does

[2018-11-30 16:51] #163 closed

[2018-12-02 19:24] liron00 opened #166 "Pass through params like {equal:compare.structural} to the computed() within a createTransformer"
I often need a transformer that compares outputs structurally.

Generalizing #129, the transformer uses computed() and it would be nice to pass through any of the normal set of computed options.

[2018-12-19 16:27] rclai opened #168 "deepObserve does not work for boxed computed fields"
https://codesandbox.io/s/ywqqlv5znx

The example shows a regular `observe` properly triggering when the computation changes, but it does not trigger when observed using `deepObserve`

[2019-01-10 19:45] sheerun opened #170 "createViewModel doesn't respect { deep: false }"
It happens with mobx-utils 5.1.0:

[code]

It happens that I pass model to library that tries to do isArray check on some internal array of unit which mobx converted to ObservableArray. I think createViewModel could preserve shallowness to prevent such errors.

[2019-01-10 19:50] sheerun commented on #170
Even worse: after doing `view.submit()` the original `model.unit.foo` becomes observable which should never be

[2019-01-11 13:30] sheerun commented on #170
@mweststrate I there any way to know that provided mobx observable has been created shallow?

[2019-01-26 21:02] ItamarShDev commented on #170
isn't the note from the docs says it would? @sheerun

[2019-01-26 22:50] sheerun commented on #170
It would be true for deep observed objects, but shoudn't be the case for { deep: false } observables

[2019-02-01 20:19] daedalus28 commented on #146
Just wanted to comment on this for future visitors. We originally invested in building our own `fromPromise` powered components like [`Awaiter`](https://github.com/smartprocure/contexture-react/blob/master/src/layout/Awaiter.js), but recently made the switch to go all in on `react-async` and recommend that to other people that stumble on this from google.

Here's our reasoning:
- As @mweststrate p

[2019-02-03 15:30] ItamarShDev opened #171 "Add ability to get only the changed data in createViewModel"
Currently, according to docs, createViewModel has only `isPropertyDirty(propName)`

Is it possible to add an option to get _all changed props_ (hopefully with the data)

looking at https://github.com/mobxjs/mobx-utils/blob/c1d82ef88d0c2ee77f6a31e6dccde536c570fe44/src/create-view-model.ts#L65
we can just open an option to get `localValues` back.

[2019-02-20 20:06] apsavin opened #173 "createViewModel: remove restored property from localValues"
[code]

Actual result:
[code]
Expected result:
[code]

It seems like an easy to fix issue, I can come with a PR if you'll accept it.

[2019-02-20 20:10] apsavin commented on #171
Looks like we need #173 if we want this to work correctly

[2019-02-20 20:20] ItamarShDev commented on #171
@apsavin why? these two seems unrelated really, am I missing something?

[2019-02-20 20:54] apsavin commented on #171
I suppose that a programmer would expect that changedValues contains only values that differ from model.

[2019-02-20 20:55] ItamarShDev commented on #171
Oh, I see.
You are correct, will look into it

[2019-02-20 21:26] ItamarShDev commented on #171
@apsavin added fix to PR :)

[2019-02-20 21:39] apsavin commented on #171
LGTM, thanks!

[2019-02-21 22:45] ItamarShDev commented on #171
fixed in #172
closing

[2019-02-21 22:45] #171 closed

[2019-02-24 22:20] ItamarShDev commented on #173
closing as fixed was merged

[2019-02-24 22:20] #173 closed

[2019-02-24 22:37] ItamarShDev commented on #170
Looking at the code, it seems that this should be an observable by design.
Not sure its a bug...

@mweststrate

[2019-02-24 22:37] ItamarShDev commented on #168
link broken @rclai

[2019-02-24 23:06] sheerun commented on #170
It should be an observable, but in my case it should be *shallow* observable, not deep one.

[2019-03-04 20:29] mweststrate commented on #165
Closing for inactivity, can be reopened if it is still a problem, if more details are available

[2019-03-04 20:29] #165 closed

[2019-03-04 20:31] mweststrate commented on #166
Sounds useful to be able to provide a limited set of the available, relevant computed options to `createTransformer`!

[2019-03-04 20:38] mweststrate commented on #168
Computeds are indeed not respected by `deepObserve`. I think it would be awkward to support deepObserve on computed values, as it would be unclear what to observe, just the computed, like `observe`? Or would `deepObserve` mean that the _output_ of the computed would be deeply observed? That might have a lot of unwanted side effects though: First, everytime the output would change, the entire deepO

[2019-03-04 20:41] mweststrate commented on #170
I think this is a bug indeed, and that the modifiers should be preserved. @sheerun would you mind creating a PR with some unit tests demonstrating the erroneous behavior and verifying a potential fix?

[2019-03-04 21:00] mweststrate commented on #171
Released as 5.2.0

[2019-03-04 21:00] mweststrate commented on #173
Released as 5.2.0

[2019-03-04 23:51] sheerun commented on #170
I can but first I need an answer to my previous question because I couldn't find how, and without this it's not possible to implement any fix:

[2019-03-06 19:33] rclai commented on #168
Yeah, I was afraid that would be the case. I wouldn't want to pursue this further.

[2019-03-06 19:33] #168 closed

[2019-03-06 20:58] ItamarShDev commented on #166
@liron00 Will be happy to get a reproduction code to be able to see the case clearly
Thank you

[2019-03-06 21:29] liron00 commented on #166
@ItamarShDev I don't have a specific syntax in mind that I'd like to use, but you may be interested to see how my workaround works to enable a transformer with structural equality:
[code]

[2019-03-11 20:32] devuxer opened #180 "Should changedValues be exposed in IViewModel<T>?"
The docs state the `changedValues` is part of the API for view models, but in TypeScript, this is not accessible from `createViewModel(model).changedValues` because `changedValues` is not exposed in `IViewModel<T>`. If this is by design, the docs should be changed, otherwise, `changedValues` should be added to the interface.

[2019-03-11 20:59] devuxer opened #181 "How to make viewModel.submit contingent on successful save"
How are people actually using view models in scenarios where updates need to be persisted to the database?

I feel like this has to be the critical use case for the `createViewModel` feature, but I'm perplexed how it's supposed to work.

My initial thought was that I should stringify the viewModel to JSON, attempt the update using fetch, then if it's successful, do `viewModel.submit()`. However, t

[2019-03-11 21:52] ItamarShDev commented on #180
Thank you very much!
Will look into it

[2019-03-11 22:12] ItamarShDev commented on #181
Thank you for the issue!
I find it hard to understand your movie and what you wish to achieve.
maybe a code sample with comment of what you should get in a codesandbox will help.

[2019-03-11 22:13] ItamarShDev commented on #181
also hat about using [mobx#toJS](https://mobx.js.org/refguide/tojson.html)?

[2019-03-11 22:38] devuxer commented on #181
`toJ` might work! Let me check that out, and I'll let you know.

[2019-03-12 06:59] devuxer commented on #181
Unfortunately, if I try to do `toJS(viewModel)`, I get:

I had another idea, which is do `createViewModel` on a *cloned* model.

This seems to work. Here is some code that shows how I'm trying to use the view model:

[code]

So, as you can see, I clone the model in this line:
`const model = this.store.item.clone();`

I'd like to avoid this extra work if possible. It's a pain to write a clone metho

[2019-03-12 07:27] ItamarShDev commented on #181
have you called `toJS` on `this._viewModel` or `viewModel`?

[2019-03-12 07:34] devuxer commented on #181
`toJS(this._viewModel)`

[2019-03-12 07:37] ItamarShDev commented on #181
well, by your attached code it seems you called it on the computed, try calling it on the observable itself.
Computed are not fully featured observables nor a full class members.
try `toJS(this._viewModel)`

[2019-03-12 16:37] lmgarret opened #183 "QUESTION: createViewModel and updating property from class methods"
Hi! More of a question than an issue. I'm using `createViewModel` on a class instance and I'm trying to update a property (array) of this instance by calling one of its internal methods (which does array.push). After adding an element to this array property, the `viewModel` is not considered dirty and the UI does not resfresh.

Here is a simplified example of what I'm talking about: https://codesa

[2019-03-12 16:58] devuxer commented on #181
Calling `toJS(this._viewModel)` doesn't make a difference. I still get:

Here are the two methods I changed:

[code]

Could the problem be that my model (which is wrapped by the view model) is a class with `@observable` string properties, not an observable object?

Here is my model:

import { action, computed, observable } from "mobx";
import uuid from "uuid/v4";
import * as helpers from "../utili

[2019-03-14 08:37] mweststrate opened #184 "Idea: introduce abstraction for computeds with arguments"
See https://github.com/mobxjs/mobx/issues/1388#issuecomment-472748989 and https://github.com/mobxjs/mobx/issues/1388#issuecomment-472751685. This could potentially replace `createTransformer` as well.

Signature:
`memoizedComputed<T>(expression: T, invalidationStrategy?: "auto" | "never" | number = "auto"): T`

strategies:
* `"auto"`: remove entries from the memoization table as soon as they becom

[2019-03-14 13:18] bourquep commented on #184
Woah, it's funny how you opened this issue 5 hours ago and my coworker and I were trying to figure out how we'd solve this very issue 10 hours ago 🤓

[2019-03-20 08:50] DamonOehlman opened #186 "IViewModel missing changedValues"
I can see that `changedValues` was added in `5.2.0` in a5354c5220b2f88f74f9ebccced906fe39666935, but because it is not defined in `IViewModel` it isn't accessible when creating a view model through the `createViewModel` function.

Just wondering if this is by design and there is an alternative way that I should be creating view models, or should be added to the interface definition.  If adding it

[2019-03-20 08:50] DamonOehlman commented on #186
Closing as I've just noticed this is a duplicate of #180.

[2019-03-20 08:50] #186 closed

[2019-03-22 08:25] urugator commented on #184
Does `"never"` pass `keepAlive: true` to the underlying `computed` ? I think it would make sense? Then maybe `computed` API could be preserved (without `number` support)... and perhaps the user should be able to provide other options like `equals`...?

[2019-03-22 08:54] mweststrate commented on #184
Good point, yes I think so. Didn't think it that far through :)

On Fri, Mar 22, 2019 at 9:25 AM urugator <notifications@github.com> wrote:

[2019-03-22 16:41] urugator commented on #170
Hacky inefficient solution:
[code]

[2019-04-04 12:57] dreamair commented on #184
For one-object-argument functions (a User object instead of just the userId in your example) a WeakMap could help automatically cleaning up entries with the argument-object being GCed. It would be like an "extension" to the User indirectly holding a computed member for all his todos without depending on them.
I don't see this working for multiple arguments or primitives though.

[2019-04-05 15:21] dgdosen commented on #30
I've got this same issue - I can't use createViewModel on an observable array....

[2019-04-10 14:39] #180 closed

[2019-04-11 09:25] CoderK opened #189 "Are checking parent and path process in deepObserve needed?"
I have been using deepObserve on my project.
Today, the following code in deepObserve caused some bug.

[code]
https://github.com/mobxjs/mobx-utils/blob/master/src/deepObserve.ts#L105-L115

Even when observable property's parent is changed normally , ```entry.parent !== parent || entry.path !== path``` condition works. That's because entrySet has same observable value as key.

From the comment abo

[2019-04-18 12:39] mweststrate commented on #189
Please explain first what the 'bug' is :).

What is the observed and expected behavior. Could you demonstrate that in a sandbox?

[2019-04-18 14:38] mweststrate commented on #184
Released as 5.4.0!

[2019-04-18 14:38] #184 closed

[2019-04-20 03:11] timothyallan opened #191 "5.4 Cannot read property 'enumerable' of undefined"
Hey all, ViewModel is 5.4 is lighting up my console with waaaay too much red text!

My class objects which I'm using as ViewModels have the usual observable properties, but occasional functions as well.

It seems like this is the culprit https://github.com/mobxjs/mobx-utils/blob/5d147c1a43376cb6da71d21197ed5ad21ccf77d5/src/create-view-model.ts#L59

In this loop, https://github.com/mobxjs/mobx-util

[2019-04-21 11:13] ItamarShDev commented on #191
https://github.com/mobxjs/mobx-utils/commit/9aebd222f1e72ae8648f7327184590852962f634

[2019-04-21 11:15] ItamarShDev commented on #191
@timothyallan can you please provide a [codesandbox](https://codesandbox.io/s/v3v0my2370) example?

[2019-04-21 18:38] timothyallan commented on #191
Sure, it won't let me save it, but simply paste this into the index.js and it crashes.

[code]

[2019-04-21 20:38] ItamarShDev commented on #191
Using arrow function seems to work, like `someFunction = (someParam) => {}`
I am not saying its what should happen, but give my take

your thoughts @mweststrate ?

[2019-04-23 11:55] fschwiet commented on #116
I'm using createTransformer for a method that takes a small range of possible arguments.  In some cases the result is observed, but not in all cases.  The leak is bounded by the input range.  So we are getting the effect we intended, an exception would be bad for us, and cleanup would be fine.

[2019-04-27 00:42] beckend commented on #191
https://github.com/mobxjs/mobx-utils/pull/193

[2019-04-27 10:49] jeremy-coleman opened #194 "Terser/uglifyjs arrow fns"
Hi, just wanted to mention there is a setting in minifiers that changes functions to arrows, could break the new computedFn and be hard to debug idk

[2019-04-29 07:45] crapthings opened #196 "moveItem from source to another source"
i want to move b1 into a1 pos 2 so it becomes a1-3

[code]

[2019-04-30 10:41] mweststrate commented on #196
Don't get what the question is here (as in, how does this relate to mobx or mobx-utils). But `data[0].children.push(...data.children.splice(1,1))` should do the trick?

[2019-04-30 10:42] mweststrate commented on #194
I'm not fully grasping the above comment :). Could you elaborate / demonstrate / propose a fix?

[2019-04-30 10:45] mweststrate commented on #191
the arrow function "fixes" it as that makes the method a local (own) property, which is present indeed.

I think a simple fix (strictly speaking not 100% correct) would be:

[code]

[2019-04-30 10:45] mweststrate commented on #189
Closing for inactivity

[2019-04-30 10:45] #189 closed

[2019-04-30 10:48] mweststrate commented on #183
Using an arrow function binds the closure to a specific instance, so that  means that in the viewmodel, it is still bound to the original object. Using the following instead probably fixes the issue

[code]

[2019-04-30 10:52] mweststrate commented on #181
Didn't really grok the above conversation, but if the use case get's too complex, mobx-state-tree might be a much better alternative compared to createViewModel, which is  a bit simple. MST features a built in `clone`, can apply patches or actions from the view model to the original, etc etc.

[2019-04-30 11:21] crapthings commented on #196
ah i mean this api

https://github.com/mobxjs/mobx-utils#moveitem

just want a utils that can move things between mobx tree.

https://github.com/rhalff/dot-object#move-a-property-within-one-object-to-another-location

i'm thinking how to combine these two works, but thanks anyway~

mobx rulez~

[2019-04-30 11:21] #196 closed

[2019-04-30 17:05] devuxer commented on #181
@mweststrate

I'm using view model for a form, and I want to (1) JSON.stringify my updated model, (2) persist changes to database, and (3) if successful, submit my view model. If not successful, I want just keep my model as is.

Right now, the view model does not support this because you have to submit it to get your model object to update. And if you try to JSON.stringify the view model, it does

[2019-04-30 17:44] mweststrate commented on #181
Right, stringify / toJS doesn't work ootb, I guess you have to write a
manual serialzation (or manual clone & copy back) indeed. In MST these kind
of utilities are easily standardized, in mobx in the general sense not so
much, as the tool is so unconstrained on to what kind of data structures
people apply observability.

On Tue, Apr 30, 2019 at 7:05 PM devuxer <notifications@github.com> wrote:

[2019-04-30 21:51] devuxer commented on #181
@mweststrate

Thank you for the tip about MST, but I don't understand why view model is able to clone all the enumerable properties of my model in the first place, yet it can't dump those same properties into a new model object when requested. That's really all I'm asking for. I want to do `const clone = model.preSubmit()`, then I can handle the serialization from there.

[2019-04-30 21:53] mweststrate commented on #181
PR?

Op di 30 apr. 2019 23:51 schreef devuxer <notifications@github.com>:

[2019-04-30 21:55] devuxer commented on #181
@mweststrate

I'll see what I can do.

[2019-05-04 04:39] davidosomething opened #197 "moveItem not compatible with mobx-state-tree array of references"
demo: https://infallible-clarke-6034d9.netlify.com/ -- just hit swap
code: https://github.com/davidosomething/mst-dead-demo/blob/master/src/App.js#L26

dev error:
![image](https://user-images.githubusercontent.com/609213/57173988-5ca94600-6e05-11e9-85eb-0b5f49e892e7.png)

[2019-05-07 12:14] dr0p commented on #191
Please review this fix https://github.com/mobxjs/mobx-utils/pull/198
Sorry for the miss..

[2019-05-14 11:48] flipchart opened #199 "Difference between createTransformer and computedFn"
I have the same question as this one which unanswered on SO

https://stackoverflow.com/q/55810836/789683

From what I can see in the source, createTransformer only takes 1 argument, while computedFn takes multiple arguments. Can you confirm if this is the only difference? Also, if I have a function with only 1 parameter, which is the preferred function?

[2019-05-14 17:56] jeremy-coleman commented on #194
from the terser docs
https://github.com/terser-js/terser#minify-options

Compress options
arrows (default: true) -- Converts ()=>{return x} to ()=>x. Class and object literal methods will also be converted to arrow expressions if the resultant code is shorter: m(){return x} becomes m:()=>x.

fix (if an issue arises) would be to just add compress: {arrows: false} to terser options

[2019-05-31 15:35] phiresky opened #202 "suggestion: add fromPromise function for hooks (useObservablePromise?)"
might look like this:

[code]

[2019-06-04 07:22] mweststrate commented on #194
I doubt this will be an issue, as it probably won't do so for things that depend on `this` or `arguments`, and without that, stuff shouldn't rely break. But alas, if a problem arises, this one can be reopened

[2019-06-04 07:22] #194 closed

[2019-06-04 07:23] mweststrate commented on #170
I think this PR requires some additional reflection methods in MobX first, a proposal is welcome (on that repo)

[2019-06-04 07:24] mweststrate commented on #181
Closing issue for inactivity

[2019-06-04 07:24] #181 closed

[2019-06-04 07:48] mweststrate commented on #199
`createTransformer` doesn't need a 'host' to store it's state in. If you can leverage `computedFn`, I would.

[2019-06-04 07:48] #199 closed

[2019-06-04 07:53] mweststrate commented on #202
This library doesn't rely on React, so it doesn't really fit, but feel free to add it as suggestion to the readme.

[2019-06-04 08:05] phiresky commented on #202
That makes sense. Maybe in the future a mobx-react-utils library would be useful.

To be honest I don't feel confident enough if the above is the right approach (useMemo vs useEffect etc), and also it might need some logic regarding caching or observables the promise itself depends on.

[2019-06-04 08:05] #202 closed

[2019-06-04 12:26] rkalicinski opened #203 "Using computedFn fails in runtime"
I try to utilize computedFn with TypeScript in following way:
[code]
and got following error in runtime:

[code]

What could be the reason?

[2019-06-04 13:19] #203 closed

[2019-06-04 13:19] rkalicinski commented on #203
Project specific issue.

[2019-06-07 17:51] timothyallan opened #205 "5.4.1 Non observed properties are no longer included"
So 5.4.1 fixed a previous error for https://github.com/mobxjs/mobx-utils/issues/191 but is causing another. Any properties that aren't marked as observable simply don't appear anymore.

If you cut and paste the below code into the demo sandbox, you'll see what happens. the `notObservedField` doesn't exist... and in 5.2 it did.

https://codesandbox.io/s/wp88p

[code]

Edit: I should also mention th

[2019-06-07 17:52] timothyallan commented on #191
This seems fixed now in 5.4.1. Thanks!

[2019-06-07 17:52] #191 closed

[2019-06-10 06:13] ItamarShDev commented on #205
`notObservedField` was not logged also in 5.4.0 and 5.3.0
Am i missing the bugs?

https://codesandbox.io/embed/minimal-mobx-react-project-jh2lz

[2019-06-10 13:26] timothyallan commented on #205
it worked in 5.2 which was the version we upgraded from.

This is a very breaking change for our app having all those fields just vanish. Shouldn’t it be a major version bump if it’s not a bug?

[2019-07-09 01:27] samr28 opened #209 "createViewModel with array"
I'm trying to use `createViewModel` to make a viewModel of an object with an array. When I edit the array property of the viewModel, the changes are immediately reflected on the original object. Not sure if this is a bug or if I'm using this wrong. Help would be much appreciated!

[code]
https://codesandbox.io/s/minimal-mobx-react-project-6hthy

[2019-07-09 05:44] FredyC commented on #209
And when would expect the value change would happen? MobX is not asynchronous, it does the change right away. What would be even use case where you need to see old values after changing it? :)

[2019-07-09 21:08] samr28 commented on #209
My understanding is that the viewModel will not update the original model until `viewModel.submit()` is called. This seems to be how it works with regular variables. Based on this: https://github.com/mobxjs/mobx-utils/issues/170, I'm assuming that it does a deep copy which would allow arrays and objects to work as I have described above but it must be just doing a shallow copy.

[2019-07-09 21:25] FredyC commented on #209
Sorry, I am not familiar with this particular utility. By reading docs, it indeed should behave the way you are saying. Probably best if someone else who knows about it can have a look.

ping @ItamarShDev (you did some changes to it a while ago)

[2019-07-12 10:37] ItamarShDev commented on #209
@FredyC @samr28
Thank you! looking into the source.
Sorry for not being available lately

[2019-07-12 11:13] ItamarShDev commented on #209
see the docs:

see the [right approach](https://codesandbox.io/s/minimal-mobx-react-project-6hthy?fontsize=14)

BTW, please compare changes in create-view-model between `userState` and `userState.model`
as the docs show.

[2019-07-19 09:17] alvteren opened #210 "fromPromise.case typings is wrong"
You have:
[code]
You should have:
[code]
Will replace:
`pending?: () => U` -> `pending?: (t?: T) => U`

[2019-07-19 13:06] sumersoft commented on #189
Sorry for commenting on a closed issue but I run on the same situation (the above error being thrown). I am deepObserving the root of my state so when I get notified of any change I save the sate to the local storage. The problem is that some inner observables can be reach from more than one path.

I now that deepObserve says it does not support this situation. But is there any other way that I ca

[2019-07-19 13:08] matiasgrodriguez commented on #189
Sorry for commenting on a closed issue but I run on the same situation (the above error being thrown). I am deepObserving the root of my state so when I get notified of any change I save the sate to the local storage. The problem is that some inner observables can be reach from more than one path.

I know that deepObserve says it does not support this situation. But is there any other way that I c

[2019-07-20 05:13] #209 closed

[2019-07-20 05:39] ItamarShDev commented on #210
Feel free to open PR

[2019-07-31 13:47] urugator commented on #205
The [`getAllMethodsAndProperties`](https://github.com/mobxjs/mobx-utils/blob/master/src/utils.ts#L35) seems to be missing the *"Properties"* part, there are just getters and functions right?

[2019-08-01 09:31] hudzenko commented on #37
Smth related I think...
https://github.com/benlesh/symbol-observable/issues/38

[2019-08-11 10:07] feedm3 opened #211 "fromPromise: Best practice on where and how to use it"
To show the different states of an asynchronous fetch, I'm using the `fromPromise` helper method. I'm using it by returning it from the stores fetch method like this:

[code]

In the component I can now use the return object from `fromPromise` to differntiate the states without any more boilerplate:

[code]

The problem here is: `componentWillMount` is deprectad and also fetching should be done in

[2019-08-23 11:59] ItamarShDev commented on #211
see https://mobx.js.org/best/pitfalls.html section **Don't copy observables properties and store them locally** please

[2019-08-23 12:03] ItamarShDev commented on #211
to make it similar to your code look [here](https://github.com/mobxjs/mobx-utils#examples)
you just need an observable to assign the result to

[2019-08-26 08:54] wuifdesign opened #212 "computedFn: wrong typings"
Typehinting isn't working for me as this function has a wrong return type.

`computedFn.d.ts`

[code]

should be

[code]

if i do something like this: `computedFn((key: string) => key)` i dont get the typehint für the string as it will be typehinted as `(...args: any[]) => any`.

[2019-08-28 15:20] #211 closed

[2019-09-11 08:22] alex3683 opened #214 "createViewModel doesn't work correctly with setters for computed values"
In my model I have several computed getters and accordingly setters, to derive the plain values from.

Simple example:
[code]

If I now create a view model from it using `createViewModel`, changes applied to the `colorCode` property are directly visible in the view. If I instead apply changes by using the `colorInstance` setter, it seems to have no effect. See here for the full, running example: h

[2019-09-25 11:26] jasonlangdon-sky commented on #205
@urugator right you are. That was an oversight on my behalf as the model I was passing to createViewModel only had observable properties, and no unobserved ones. I'm working on a fix and hope to have it on a branch today.

[2019-09-26 12:04] urugator commented on #214
I think it's a bug, would the following help?
[code]

[2019-09-27 05:40] alex3683 commented on #214
@urugator
Jepp, that seems to fix the issue 👍🏼

[2019-10-02 05:11] thbt commented on #210
This should be fixed by #208

[2019-10-02 05:16] #210 closed

[2019-10-08 13:43] Strydom opened #219 "IPromiseBasedObservable defaults to observable deep false"
When using `@observable public nodeSets: IPromiseBasedObservable<FolderItem[]>;` I found that when trying to modify `nodeSets.value`, it did not trigger re-renders.

I think it's because of this line here:
https://github.com/mobxjs/mobx-utils/blob/master/src/from-promise.ts#L88

Is this behaviour expected or should you be able to update the value and have it trigger re-renders?

From the descripti

[2019-10-14 16:21] urugator commented on #219
It's by design (see #54). You can make the value observable yourself `.then(val => observable(val))`

[2019-10-15 08:27] mweststrate commented on #205
Published as 5.5.0

[2019-10-15 08:27] #205 closed

[2019-10-15 08:29] mweststrate commented on #214
@alex3683 interested in making a PR with this fix, including a test?

[2019-10-15 08:30] mweststrate commented on #212
PR welcome

[2019-10-15 08:33] mweststrate commented on #219
Having a promise as owner of state that is going to be modified in the future is a very confusing model in the long term and confusing responsibility. IF you are going to modify the output of some data fetching process, it will be a lot clearer if there is an explicit place where you store that state, merge the result of the process in there, and in that place probably also organize how changes ar

[2019-10-15 08:33] #219 closed

[2019-10-15 08:34] mweststrate commented on #197
Correct, but `moveItem` is basically still here for legacy purposes, and I recommend to not combine it with MST.

[2019-10-15 08:34] #197 closed

[2019-10-15 08:35] #183 closed

[2019-10-15 08:35] mweststrate commented on #170
Closing for inactivity

[2019-10-15 08:35] #170 closed

[2019-10-15 09:07] wuifdesign commented on #212
Seams to be fixed in the new version (5.5.0). fixed by 717ad1fd9011cb10410aafb80020d59f3ababd93

[2019-10-15 09:07] #212 closed

[2019-10-15 09:33] alex3683 commented on #214
@mweststrate Theoretically yes, but I guess I won't have the time to do this. I can try to do it, but I cannot promise any release date. Boss, wife and kids, all want me to do something else instead ;-)

[2019-10-15 19:11] vivainio commented on #129
This may be outdated now that createTransformer has been superceded by computedFn

[2019-10-15 19:13] vivainio commented on #116
Does computedFn suffer from this?

[2019-10-15 19:57] mweststrate commented on #129
...And it is merged anyway :)

[2019-10-15 19:57] #129 closed

[2019-10-15 20:00] mweststrate commented on #116
@vivainio, no it shouldn't: as:

Also, it will print a warning if used outside a reactive context and not memoize at all (unless the `keepAlive` flag is set, in which case it leaks-by-design)

[2019-10-15 20:28] M-ZubairAhmed commented on #214
@alex3683 would you mind if i contribute to this one?

[2019-10-16 11:07] urugator commented on #214
@mweststrate btw note that the local computed ignores original computed's options (like `equal`), could also lead to some issues...

[2019-10-16 14:50] alex3683 commented on #214
@M-ZubairAhmed Go ahead. I don't want to block this.

[2019-10-17 17:54] xaviergonz opened #222 "Release for 5.5.1"
Could anybody release v5.5.1? I just did commits to prepare for it until I realized I don't have permissions to do npm publish for this repo :(

@mweststrate

[2019-10-17 19:14] mweststrate commented on #222
Granted permission to publish :)

On Thu, Oct 17, 2019 at 6:54 PM Javier Gonzalez <notifications@github.com>
wrote:

[2019-10-17 19:42] xaviergonz commented on #222
Thanks! published!

[2019-10-17 19:42] #222 closed

[2019-10-17 20:23] blacksteed232 commented on #222
@xaviergonz wait, I just updated to 5.5.1 but I still get error when I dont use await inside actionAsync though. Also did you tag 5.5.1 for this repo?

[2019-10-17 21:05] xaviergonz commented on #222
Just pushed the tag (I forgot it), also checked that the bundle on npm contains the changes.

Could you create a reproduction case? maybe you are using await task inside async function that is not marked with asyncAction?

[2019-10-17 21:07] xaviergonz commented on #222
Btw, if you are using the new version then the error message should be slightly different (should include if the error happened inside task or when the action is finishing, and if the action is finishing which is the action name that failed.

[2019-10-17 21:32] blacksteed232 commented on #222
@xaviergonz my bad! I installed but did not rerun webpack so the changes didnt kick in! Thank you so much!

[2019-10-23 01:04] blacksteed232 opened #223 "Problem with calling actionAsync inside another actionAsync without waiting"
I bumped into an issue with `actionAsync`. I have poked into `mobx-utils` to have a test to reproduce my problem. Here it is

[code]

Notice my `LINE 0`, here, I'm calling an `actionAsync` without `await` inside of another `actionAsync`. This test, as it is right now, passes, but when I start to uncomment `LINE 1-3`, strange things happen.

Uncommenting `LINE 1`, I'll get:
[code]

Uncommenting `LI

[2019-10-25 04:00] blacksteed232 commented on #223
@xaviergonz any idea about this issue?

[2019-10-25 05:47] alex3683 commented on #214
Please don't. I use them a lot to transform string references into instances of other models and back. I think this is one of the greatest mobx features (including all the others ;-))

[2019-10-25 06:03] mweststrate commented on #223
Please note that bumping an issue in 2 days isn't the politest thing to
do....

Op vr 25 okt. 2019 05:00 schreef An Phi <notifications@github.com>:

[2019-10-25 06:41] blacksteed232 commented on #223
@mweststrate I'm sorry.

[2019-10-25 20:47] xaviergonz commented on #223
That's because the requirements for actionAsync to work are:
1) any awaited promise must be wrapped in task
2) any child actionAsync must be awaited (and therefore wrapped)

In this case what I suggest you to do is to either:
* not make f1 actionAsync and use runInAction in each parallel code
* keep using flows for that case
* (my personal pick) to create the task at the beginning the wait for it

[2019-10-27 17:12] blacksteed232 commented on #223
@xaviergonz Hi, thank you for the great suggestions. However, when I try your personal pick, this following test will still fail

[code]

I start to think this has something to do with `task` not being so resilient against empty promises (promises which return immediately - in case of `Promise.all([])` or `Promise.resolve()`), also even if the behavior is like you said, it's weird to me that they

[2019-10-27 20:45] mweststrate commented on #223
what if you wrap f1() immediately in a task, but await it later, rather
than wrapping and awaiting later?

On Sun, Oct 27, 2019 at 5:12 PM An Phi <notifications@github.com> wrote:

[2019-10-27 20:56] blacksteed232 commented on #223
@mweststrate so if like this

[code]
I would get error

[code]
for `x.a = 2` line

[2019-10-27 22:26] xaviergonz commented on #223
Just created a PR that fixes this

[2019-10-27 23:04] blacksteed232 commented on #223
@xaviergonz @mweststrate  Thank you guys so much! I learnt a lot about when to use`runInAction`/`flow`/`actionAsync` through this thread. Will close this for now.

P/S: also sorry again for being pushy.

[2019-10-27 23:04] #223 closed

[2019-10-29 17:31] xaviergonz commented on #223
Should be out in 5.2.2

[2019-10-29 17:42] msreekm opened #226 "Attempted import error: '_endAction' is not exported from 'mobx'."
i get this warring .any suggestions?

./node_modules/mobx-utils/mobx-utils.module.js
Attempted import error: '_endAction' is not exported from 'mobx'.

[2019-10-29 19:59] mweststrate commented on #226
update to the last version of mobx 4 / 5 (depending on what you are
currently using)

also: always update deps first anyway before filing bug reports ;)

On Tue, Oct 29, 2019 at 5:42 PM sreekumar menon <notifications@github.com>
wrote:

[2019-10-30 19:02] msreekm commented on #226
:) thanks buddy!

[2019-10-30 19:02] #226 closed

[2019-11-18 05:38] kwzm opened #227 "I just wonder how you generate ts declaration file"
This is not a issue, I am writting my own npm library by typescript, and I referred to your library, I have a problem when I want to generate a declaration file.
I see `"typings": "lib/mobx-utils.d.ts",` in package.json, but I don't know how it generated.

[2019-11-18 09:37] mweststrate commented on #227
Enable the `declaration` option in your compiler settings.

[2019-11-18 09:37] #227 closed

[2019-11-19 04:24] kwzm commented on #227
@mweststrate Thanks, but I didn't find where you enable this option, I found tsconfg.json and npm srcipt.

[2019-11-19 09:44] mweststrate commented on #227
might be implicitly on. Anyway, it's a compiler option. I assume you can
google your way from here :)

On Tue, Nov 19, 2019 at 4:24 AM kwzm <notifications@github.com> wrote:

[2019-11-20 04:19] kwzm commented on #227
@mweststrate Ok, thanks a lot!

[2019-11-29 15:53] jkvoch opened #229 "Deepobserve does not observe changes in set"
I'm trying to use deepObserve() with an object that has an ObservableSet field but the changes in this field are not reported.

[code]

Is this something that is supported? I looked into the deepObserve code and found that it uses this function:
[code]
to determine whether an object can be observed but the isObservableSet check is missing.

[2019-11-29 16:04] mweststrate commented on #229
Looks like this was build before observable sets were introduced indeed!

Feel free to submit a PR with test and fix.

We might need to double check if the peerDep on MobX needs to be bumped for
this (or null check the presence of `isObservableSet`).

On Fri, Nov 29, 2019 at 3:53 PM Jan Kvoch <notifications@github.com> wrote:

[2019-12-16 00:15] Venryx opened #232 "computedFn doesn't allow varying number of arguments"
`computedFn` doesn't allow varying number of arguments.

This is apparently already known, since the function description says:

Is there a fundamental reason that you can't provide a varying number of arguments? Or has the code just not been made flexible enough yet to allow varying argument counts?

If it's the former (impossible to implement), what's the explanation for that limitation?

If it'

[2019-12-16 01:37] wbercx opened #233 "deepObserve does not work well with _interceptReads"
Hi everyone,

I ran into an issue I seem to be unable to work out.

I stumbled upon the slides of a talk that @mattiamanzati gave, which mentioned the use of `_interceptReads` to lazily deserialise objects. I'm aware it is experimental, but it sounds excellent! I thought I would replace my eager `intercept` based implementation with this.

It does not seem to work well combined with `deepObserve`

[2019-12-16 01:48] Venryx commented on #232
Good news: I successfully modified the `DeepMap` class to support the `args` array changing length, which enables the `computedFn` function to accept a varying number of arguments between calls.

You can see the changes I made to achieve this here: https://github.com/mobxjs/mobx-utils/compare/master...Venryx:master

I haven't made a pull request, since the way I implemented the improvement is not

[2019-12-16 02:30] Venryx commented on #232
Good news: I successfully modified the `DeepMap` class to support the `args` array changing length, which enables the `computedFn` function to accept a varying number of arguments between calls.

You can see the changes I made to achieve this here (it's only two new lines!): https://github.com/mobxjs/mobx-utils/compare/master...Venryx:master

I haven't made a pull request yet, since there are a fe

[2019-12-16 09:34] wbercx commented on #233
Alright. That was actually really easy to work out with DevTools and CodeSandbox. Not sure why I did not just do that initially...

I realise now that this will never work the way I intend it do.

The reason why `deepObserve` is not observing the changes is because it is tracking the originally added object (`change.newValue`), not the deserialised version of it.

If I make it deserialise and trac

[2019-12-16 09:34] #233 closed

[2019-12-16 10:19] mweststrate commented on #232
I think this limitation is there indeed for simplicity. (Since variadiac
length can typically be solved in userland by using default arguments or a
wrapper function I'd guess). Could you elaborate a bit on how your solution
works? Especially, how you avoid the symbol ending up in the original
method as argument? Could you demonstrate the correctness of your approach
by introducing unit tests?

I'd

[2020-01-13 18:55] mweststrate commented on #128
The behavior of `extendObservable` has been restored in MobX 4.15.2 / 5.15.2, so closing this issue.

[2020-01-13 18:55] #128 closed

[2020-01-13 18:57] #116 closed

[2020-01-13 18:58] mweststrate commented on #166
Should be fixed in 5.5.3

[2020-01-13 18:58] #166 closed

[2020-01-25 17:11] Menci opened #236 "Use computedFn as decorator"
Why don't design computedFn to use it as a decorator? `fn = computedFn(function ())` is very ugly and inconvenient in TypeScript.

[2020-01-25 17:35] mweststrate commented on #236
Feel free to take a shot at it

Op za 25 jan. 2020 17:11 schreef Menci <notifications@github.com>:

[2020-02-17 19:43] IgorBabkin opened #237 "Tree shaking doesn't work"
dependencies

[code]

Webpack config

[code]

tsconfig.json

[code]

Code
[code]

[2020-02-17 19:44] IgorBabkin commented on #237
<img width="248" alt="Screenshot 2020-02-17 at 8 43 10 PM" src="https://user-images.githubusercontent.com/1428790/74682407-3dc64580-51c6-11ea-9d6c-ba9aa7068998.png">
<img width="1426" alt="Screenshot 2020-02-17 at 8 42 51 PM" src="https://user-images.githubusercontent.com/1428790/74682411-40289f80-51c6-11ea-86f4-f2a5e70172c0.png">

[2020-02-17 19:46] IgorBabkin commented on #237
<img width="441" alt="Screenshot 2020-02-17 at 8 46 07 PM" src="https://user-images.githubusercontent.com/1428790/74682512-8bdb4900-51c6-11ea-83d3-93084ae627c6.png">

[2020-02-19 14:24] IgorBabkin commented on #237
![image](https://user-images.githubusercontent.com/1428790/74843233-eb9f3480-532b-11ea-8ada-71762872ef16.png)

[2020-02-20 09:31] Korkemoms opened #239 "invalid 'actionAsync' context when promises resolve at the same time in different actionAsync"
Im getting the following error when i run the code below

`mobx-utils.module.js:6 Uncaught (in promise) Error: [mobx-utils] invalid 'actionAsync' context when finishing action 'actionAsync1'. an action context for 'actionAsync2' was found instead. did you await inside an 'actionAsync' without using 'task(promise)'? did you forget to await the task?`

[code]

It happens with both the following vers

[2020-02-20 18:35] xaviergonz commented on #239
Thanks, just made a PR that should solve this

[2020-02-21 13:55] Korkemoms commented on #239
Will there be a release soon with this fix in? Need this to be fixed in our application.

Thanks for the great work

[2020-02-21 15:37] xaviergonz commented on #239
Should be out in 5.5.4

[2020-03-03 21:25] mweststrate commented on #237
Should be fixed in 5.5.5

[2020-03-03 21:25] #237 closed

[2020-04-01 14:06] jpgarcia opened #243 "'actionAsync' context not present when running 'task' only in React Native projects"
Hi guys,

I was troubleshooting this error in a **React Native** application and found the https://github.com/mobxjs/mobx-utils/pull/240 which apparently fixes the issue https://github.com/mobxjs/mobx-utils/issues/239 in **5.5.4** so I upgraded the library in my **React Native** but it didn't work

In order to check the fix was actually working I tried by creating a simple console application and

[2020-04-04 14:44] jpgarcia commented on #243
More info:

Not sure why but if I change https://github.com/mobxjs/mobx-utils/blob/master/src/action-async.ts#L19

[code]

[2020-04-04 15:57] jpgarcia commented on #243
I will close this as I experienced the same issue in older versions of node. So I will leave a comment on #239 suggesting to reopen the issue

[2020-04-04 15:57] #243 closed

[2020-04-04 15:59] xaviergonz commented on #243
Hi, in which version of node where you able to reproduce it?

[2020-04-04 16:22] jpgarcia commented on #239
Hi @xaviergonz it seems that the issue is still happening in previous versions of Node.

Checkout the following video capture:

Node 13.12.0 ✅ / Node 9.11.2 ❌ / Node  8.17.0 ❌

![mobx-utils](https://user-images.githubusercontent.com/95109/78455862-f9f4a600-7676-11ea-9812-0dc60c74761a.gif)

Maybe we should reopen this issue?

[2020-04-04 16:29] jpgarcia commented on #243
Hi @xaviergonz I just updated the previous issue with more info https://github.com/mobxjs/mobx-utils/issues/239#issuecomment-609052746 Thanks!

[2020-04-04 18:04] xaviergonz commented on #239
Thanks, it wasn't caught before because it was tested against the transpiled async/await of typescript (which does work on those node versions). Do you know if react-native includes a setImmediate function?

[2020-04-04 18:06] xaviergonz commented on #239
Also, which node version (if any) does react-native use?

[2020-04-04 18:22] xaviergonz commented on #239
Could you build the PR https://github.com/mobxjs/mobx-utils/pull/244 and link it into your project and see if it fixes it? I tested it with node 8.17.0 with async transpilation off and it seems ok now, but I don't know what will happen with react-native

[2020-04-04 19:47] jpgarcia commented on #239
Hey @xaviergonz I built a new version based on #244 and it worked on the node versions I tested before but I can confirm now that the fix is actually not working for **React Native** as I reported on #243 so now we have:

Node 13.12.0 ✅ / Node 9.11.2 ✅ / Node 8.17.0 ✅ /  React Native ❌

Regarding the javascript engine you can find more info here https://reactnative.dev/docs/javascript-environment

[2020-04-04 22:49] xaviergonz commented on #239
Thanks, care to give the new version a try? Also, could you please check if react-native offers either queueMicrotask and/or process.nextTick?

[2020-04-04 23:28] jpgarcia commented on #239
Wow dude! it worked like a charm!

I did a little research and it seems that React Native does not support those 😢 It seems that they're all hacking the issue by doing things like:

[code]

it would be awesome to have a new release with your fix! 🚀

[2020-04-05 10:43] xaviergonz commented on #239
v5.5.6

[2020-04-07 13:47] jpgarcia commented on #239
Hi @xaviergonz I think I found a new issue related to errors 😢

Node 13.12.0 ✅ / Node 9.11.2 ❌ / Node 8.17.0 ❌ / RN ❌

This is the snippet:

[code]

The output:

[code]

[2020-04-07 19:02] xaviergonz commented on #239
Care to check PR https://github.com/mobxjs/mobx-utils/pull/246 ? Thanks!

[2020-04-07 19:47] jpgarcia commented on #239
Yes it is working!

[2020-04-07 21:34] #239 closed

[2020-04-07 21:39] xaviergonz commented on #239
v5.5.7

[2020-04-27 02:17] hyusetiawan commented on #30
I am having the same issue as well, cannot create a view model on an observable array

[2020-05-15 04:30] singggum3b opened #249 "Bug in lazyObservable pending state"
https://github.com/mobxjs/mobx-utils/blob/4b5964042f72c7a26526d36d4365d191904cb64d/src/lazy-observable.ts#L56

[2020-05-15 04:31] singggum3b commented on #249
I think this should be wrap in `allowStateChanges` no ?
Its causing issue when there're observer on `pending`

[2020-05-15 10:17] mweststrate commented on #249
I think you are correct! Interested in submitting a PR with fix and a unit test demonstrating the old issue, so that we won't regress in the future?

[2020-05-15 15:48] #249 closed

[2020-05-16 01:47] singggum3b commented on #249
Sorry for late reply. i was going to do it in monday but look like @NaridaL was way faster 👍

[2020-05-21 11:15] spion-h4 opened #252 "What is a good way to prevent or warn about promise-observable mapping issues?"
The `fromPromise` API is great, but there is one caveat that you must be aware of to avoid endless loops. Consider the following example

[code]
We would like to transform the value, but provide a default value while its loading. This can be useful for many things e.g. buttons disabled before the permission fetch arrives and other examples.

This works well, the IPromiseBasedObservable starts with

[2020-05-21 14:27] benjamingr commented on #252
@spion-h4 hey what happened to your GitHub?

[2020-05-23 10:15] NaridaL opened #254 "Publish 5.6.0"
I've updated the changelog accordingly.

[2020-05-23 11:00] mweststrate commented on #254
Done! Thanks for the work so far!

[2020-05-23 11:00] #254 closed

[2020-05-24 01:38] bb opened #255 "ObservableGroupMap grouperArrIndex out of bounds"
Hi @NaridaL,

thanks for ObservableGroupMap. This is exactly what I needed and fortunately I found it here before implementing it myself. Very good timing. 😃

Unfortunately, there seems to be an issue in the current implementation (or I am holding it wrong). Sorry for not reporting this issue before the actual release which I just noticed now. I already run into it a few days ago but didn't find t

[2020-05-24 09:58] #255 closed

[2020-05-24 10:06] NaridaL commented on #252
Tbh `@computed` seems like the wrong thing here. I guess you want a custom Observable which calls `fetch` only when the `onBecomeObserved` event ist triggered. I had a look if it was possible to put something like that together using mobx-utils but I didn't find anything. If you're using this pattern in a lot places it probably makes sense to make it yourself.

Maybe extending `fromPromise` to all

[2020-05-24 11:17] NaridaL commented on #114
@jamiewinder What's the use-case for your `onBecomeObservedKeepAlive` utility?

[2020-05-24 17:00] jamiewinder commented on #114
@NaridaL - at the time, the behaviour of keep alive was such that applying it meant the computed would be resolved immediately as if something was always observing it. In fact, that's how it worked as I recall.

The utility made it so that the computed was only resolved when first observed, as with a normal computed property.

[2020-05-28 12:57] DomiR opened #264 "Add @actionAsync.bound similar to the @action.bound decorator"
Would it be possible to add a .bound variant for actionAsync?

[2020-06-03 15:22] AndrewMorsillo opened #265 "Docs for StreamListener and fromStream?"
These two seem to be missing from the docs and have some odd behavior.

I'm trying to wrap an rxjs observable but when using fromStream I noticed two problems:

1. There's no way to tell when the observable is completed
2. fromStream eats any errors from the observable and assigns them to .current as if they're just another normal value. Shouldn't it throw them instead?

[2020-06-17 13:16] ronyong91 opened #266 "Hitting error when trying to createViewModel on observable array"
I'm getting error Error: [mobx-utils] createViewModel expects an observable object when i am trying to create view model on observable array. Example :

@observable treatments : Treatment[] = [];
treatmentDet = createViewModel(this.treatments);

[2020-06-17 13:26] mweststrate commented on #266
That function works with objects, not arrays (at the root)

On Wed, Jun 17, 2020 at 2:16 PM ronyong91 <notifications@github.com> wrote:

[2020-06-18 13:10] ronyong91 commented on #266
Alright then. I am cloning the observable array and after i done all the necessary stuffs , i just assign it back to the array, sort of like submit. Just a workaround. Closing the issue , thanks man.

[2020-06-18 13:10] #266 closed

[2020-07-22 14:28] destinmcmurry opened #268 "Make computedFn Warnings Optional?"
Getting tons of the warning "`invoking a computedFn from outside an reactive context won't be memoized, unless keepAlive is set`" due to calling methods that use computedFns inside tests.

Ex: Test calls something like:

    ` handleSelection = (id) => {
            this.isSelected(id) ? this.deselect(id) : this.select(id);
     };`

to set up test case. And because isSelected is a computedFn, the

[2020-07-22 14:35] mweststrate commented on #268
Feel free to PR an option to suppress the warning

On Wed, 22 Jul 2020, 15:29 Destin, <notifications@github.com> wrote:

[2020-07-29 16:38] ProTip opened #269 "Enhancement - ObservableGroupMap shallow option"
If I'm not mistaken it appears that the observable array creation is the deep default. I'm interested in being able to group items into shallow observable arrays. I would like to propose extending the options of the ObservableGroupMap to allow for shallow array creation.

[2020-07-29 16:46] ProTip opened #270 "Enhancement - ObservableGroupMap discard undefined/null"
I have a use case where I'm grouping items that may not have the keys present needed to generate a grouping key. In these cases I would actually prefer to not group them at all(vs dumping them in a catch-all bucket). I could envision other use cases where the the decision to group or not may be useful.

Current behavior _appears_ to actually group every item with an `undefined` key into the same a

[2020-07-30 08:53] NaridaL commented on #269
There's only one observable array as far as I'm aware. What behavior are you observing? I assume you have some reactive behavior on one of the group arrays. This will react to changes to objects in the arrays not because it is a "deep observable" array, but because the properties of of the contained items are themselves observable.

[2020-07-30 08:56] NaridaL commented on #270
Not grouping items which have an undefined groupBy value is sensible. Unfortunately at this point changing it for everything would be a breaking change. Is the "catch-all" bucket causing a specific problem which would make it worth adding an option?

[2020-07-30 15:52] ProTip commented on #269
Yes, items added to the group array are being converted to and stored as proxy objects.

The `observable` "decorator" is being used to create the group arrays here: https://github.com/mobxjs/mobx-utils/blob/master/src/ObservableGroupMap.ts#L151

Observable is an "alias" to `observable.deep` per the Mobx documentation and recursively calls `observable` on items added to collections: https://mobx.js

[2020-07-30 20:44] Phault opened #271 "now() returns an old timestamp when resubscribing to an inactive ticker"
Currently if a ticker for a given interval (say 1000) goes inactive due to lack of subscribers, it's latest value will be returned initially when you resubscribe. So for instance if it reported 3000 before going inactive, then 5 seconds pass and you call now(1000). Instead of returning 8000 it would report 3000. A second later it will then report the correct value of 9000.

[Here's a codesandbox t

[2020-08-01 15:00] NaridaL commented on #269
@ProTip Looks like I missed that. This definitely makes sense. I'd change it to always have the group arrays be shallow. Or do we need an option for this? If the base array is deep observable, then it makes no difference, and I can't image a scenario where you want the base array to be shallow but the group arrays to be deep.

[2020-08-05 20:20] #269 closed

[2020-08-17 20:44] aabuelenin opened #275 "A workaround to avoid cyclic references when using DeepObserve"
I've a scenario where some business objects need to keep a reference to their parent, also, their parent could change in the runtime), for example:
[code]

In this example Node references its parent causing a cyclic reference and a runtime error
"The same observable object cannot appear twice in the same tree, trying to assign it to 'pages/0/nodes/0/parentPage', but it already exists at 'pages/0'"

[2020-09-07 12:02] designbyadrian commented on #209
There is no reference to viewModel in the linked CodeSandbox example.

[2020-10-01 02:13] jashmoreindeed opened #278 "computedFn warnings when React SSR rendering via useStaticRendering"
Hey,

We have an application using mobx that is performing Server Side Rendering with Client Side hydration and we are getting a bunch of warnings on our server: `invoking a computedFn from outside an reactive context won't be memoized, unless keepAlive is set`.

We are basically doing something like:

[code]

Where our component calls into the store method with is a computed value

[code]

[code]

[2020-10-01 14:36] mweststrate commented on #278
probably computedFn should have an option to fix this. as a quick around you could introduce your own utility:

[code]

[2020-10-02 01:37] jashmoreindeed commented on #278
Great, a nice and easy workaround.

[2020-10-02 18:13] varog-norman opened #279 "fromStream is broken"
Looks like `fromStream` doesn't work at 6.* version

<img width="1226" alt="1" src="https://i.imgur.com/5w9jcRh.png">

But in previous version 5.* everything's good
<img width="1221" alt="2" src="https://i.imgur.com/lFAAAbS.png">

[2020-10-02 18:21] mweststrate commented on #279
Did you follow the mobx migration guide? Please provide a sandbox
reproduction.

Op vr 2 okt. 2020 19:13 schreef Varog <notifications@github.com>:

[2020-10-02 19:04] varog-norman commented on #279
Yep, tried to do everything from migration guide. Here is the sandbox example https://codesandbox.io/s/hardcore-snyder-nin76

[2020-10-03 19:18] mweststrate commented on #279
Thanks for reporting! There was a build issue causing incorrectly compiled code to end up in the bundle. Should be fixed in 6.0.1!

[2020-10-03 19:19] #279 closed

[2020-10-03 19:19] mweststrate commented on #271
Released as 6.0.0, closing

[2020-10-03 19:19] #271 closed

[2020-10-15 14:18] tzipisheinin opened #280 "Question about the second value in fromPromise function (optional value)"
I'm sending the same promise that I'm fetching the data into (exactly as the example).
I excepted to not see the pending state at all (some loading I have on pending state). but I still can see it - passing very quick, but exist.
Why?

[2020-10-20 14:34] mweststrate commented on #280
Building a small code sandbox demonstrating your problem typically helps

[2020-10-21 13:02] tzipisheinin commented on #280
You absolutely right. Thanks for answering.
I made an example now, but the strange thing is that in this small example it's stucked on the pending level every time I send the optional value to the `fromPromise` function. (if I send only request it does work)

Could be I'm using old version?
**My mobx versions are :**

**The store**
[code]
**The Components**
[code]

[2020-10-28 18:22] nickperkinslondon opened #281 "mobx.makeObservable is not a function?"
[code]
TypeError: mobx.makeObservable is not a function
    at new ViewModel (D:\Dropbox\workspace\npl\node_modules\mobx-utils\mobx-utils.umd.js:633:18)
    at createViewModel (D:\Dropbox\workspace\npl\node_modules\mobx-utils\mobx-utils.umd.js:779:16)

[2020-10-28 18:24] nickperkinslondon commented on #281
$ npm view mobx version
6.0.1
$ npm view mobx-utils version
6.0.1

[2020-10-29 22:03] mweststrate commented on #281
This is most likely a problem with your local node_modules or project
setup. Not much we can do here, unless you can provide a
minimal reproduction, in which most probably the issue won't occur at all.

On Wed, Oct 28, 2020 at 6:24 PM Nick Perkins <notifications@github.com>
wrote:

[2020-10-30 19:06] asfernandes opened #282 "actionAsync - what happened?"
AFAIK this function was present in v5 but it's not in v6 anymore.

I din't found an issue about deprecation or removal.

[2020-10-30 19:58] mweststrate commented on #282
Iirc it is deprecated in favor of MobX's flow

On Fri, 30 Oct 2020, 19:06 Adriano dos Santos Fernandes, <
notifications@github.com> wrote:

[2020-10-30 22:08] asfernandes commented on #282
Does it have a good reason for? Not everyone wants to use generator, and types does not work great in TypeScript.

[2020-10-30 22:28] mweststrate commented on #282
Yes, not interested in maintaining 3 alternatives to achieve a similar thing

On Fri, 30 Oct 2020, 22:08 Adriano dos Santos Fernandes, <
notifications@github.com> wrote:

[2020-10-31 13:10] asfernandes commented on #282
Fortunately I haven't the time to install mobx-utils before, when I saw the nicely `actionAsync`.

And if the library has this policy of remove things even without notice, I will not use it.

[2020-10-31 13:10] #282 closed

[2020-11-18 16:33] pimterry opened #283 "Debounced computeds"
I've been playing with debouncing computeds. I have a complex & CPU-expensive computed that subscribes to many observables, and I'd to debounce recalculations there.

I haven't been able to find a nice way to do this. #24 gets close, but was never merged, and only works for debouncing downstream updates, not debouncing incoming updates, so isn't really sufficient (unless your computed has only one

[2020-11-26 21:55] tho-graf opened #284 "Question: How to use ObservableGroupMap in MST?"
Hi there,

I do my first little baby steps with mobx / MST and can't get ObservableGroupMap working with MST.
Here is my example. I have an array in my state tree. This is by default an observable array, right?
Is it correct to initialize the ObservableGroupMap in the view function once and read from it in a view function?
Later I call the view function in an autorun. But the length of the (groupe

[2020-12-14 13:21] ahoisl commented on #214
I fixed this issue independently in one of my projects, then saw this issue and now did go forward and merged my implementation with the proposed fix in this thread. See and please review the open PR.

Additionally, if one is interested in a "deep" view model, one that is able to also transparently work with nested objects and arrays, then I could go along and try to merge my private implementatio

[2020-12-16 13:20] NaridaL commented on #214
Fixed by #286

[2020-12-16 13:20] #214 closed

[2020-12-19 18:55] pauldraper opened #287 "fromStream"
There is `fromPromise` to convert ES Promise to observable, or `toStream()` to convert to TC39/Rx Observable, but nothing to convert an observable to a TC39/Rx Observable.

[2021-01-06 13:19] yaarams commented on #281
I get this warning:
WARNING in ../node_modules/mobx-utils/mobx-utils.module.js 629:8-22
"export 'makeObservable' was not found in 'mobx'
mobx: 5.15.4
mobx-utils: 6.0.1

[2021-01-06 13:28] mweststrate commented on #281
Please update to MobX 6, and respect peer dependency warnings when running
yarn / npm install :)

On Wed, Jan 6, 2021 at 1:19 PM Yaara Cohen <notifications@github.com> wrote:

[2021-01-13 17:58] asfernandes opened #288 "ObservableGroupMap uses console.log when new item is added"

[2021-01-15 19:23] NaridaL commented on #288
Resolved with #289

[2021-01-15 19:23] #288 closed

[2021-01-27 19:20] terandrei opened #290 "Typescript reporting errors with latest version"
Hi,

I'm running on typescript@4.1.2, mobx@6.1.0 and mobx-utils@5.6.2.
`tsc --noEmit` returns several errors:

[code]

Is there something I'm doing wrong? Tried to `rm -rf node_modules/ yarn.lock && yarn`, same result.

[2021-01-27 22:35] NaridaL commented on #290
No, that's on me, I didn't tag the release properly on npm when I released 5.6.2. You want mobx-utils-6.0.3

[2021-01-27 22:39] NaridaL commented on #290
OK, looks like I you can change those without republishing. It should be fixed now.

[2021-01-28 09:34] terandrei commented on #290
Yeah, all good now. Thanks for your awesome work!

[2021-01-28 09:34] #290 closed

[2021-02-05 13:12] jraoult opened #291 "Typing IRejectedPromise and IPendingPromise to hold an unknown value"
When using `fromPromise` the pending and rejected outcome have a `value` property typed to `any`. Now that we have `unknown` type I thinks in this case it makes more sense and allows us to catch issues a compile-time.

Risks wise, it would introduce an incompatibility with the older versions of TS (<3.0) and would probably make some code that was passing type checking before, fail now.

FYI this i

[2021-02-11 13:48] DavidCasillasRivero opened #292 "Passing equals option to computedFn does not change behaviour"
I'm trying to pass an `options` object to `computedFn()` with the `equals`  property to set the `comparer` function to use.

[code]

The problem is that it always uses the `comparer.default` comparer. I have set a debug point in `mobx.comparer.ts` file and it never enters in the `structuralComparer()` method and always use `defaultComparer()`.

I have tried to simplify the real code in a CodeSandb

[2021-02-11 14:14] urugator commented on #292
Btw in sandbox you have a typo `{ equal: comparer.structural }`

[2021-02-11 14:18] mweststrate commented on #292
In my phone, so apologies, didn't check the sandbox, but is the computed
observed? If it is not kept alive it won't cache nor compare.

On Thu, 11 Feb 2021, 14:14 urugator, <notifications@github.com> wrote:

[2021-02-11 14:22] DavidCasillasRivero commented on #292
@urugator Thanks, you are right, I fixed it to `{ equals: comparer.structural }` and also change the `{ equals: comparer.identity }` but nothing is changing.
@mweststrate I think it is, the computed is used inside a component enclosed in `observer` if you mean that.

[2021-02-11 14:31] urugator commented on #292
The `computedFn` must always run on, otherwise it has nothing to compare. Comparer should prevent the observer from re-rendering, not from recomputation.

[2021-02-11 14:37] urugator commented on #292
Try:
[code]
There is just a single "autorun" in console as opposed to using `t.filterIdentity` (4).

[2021-02-11 14:42] DavidCasillasRivero commented on #292
Of course, you are right, I had this sentence from MobX and completely misunderstood it.

I updated the codesandbox and the re-render only happens using `comparer.identity` as expected.

So the problem in my original code must be somewhere else, and the options passed to `computedFn`  are working. Thanks for the super fast response.

[2021-02-11 14:42] #292 closed

[2021-02-24 10:55] EmilHelle commented on #209
Does anyone have a solution or an example of the correct approach to solve this? I have been trying for some time to do changes on arrays of objects in many different ways, and they only submit the changes immediately to the target model. The description in the docs was a bit vague too.

[2021-03-01 22:18] zcaceres opened #293 "Does this support MobX 6?"
Looks like there have not been recent PRs.

[2021-03-01 22:20] mweststrate commented on #293
It does.

On Mon, 1 Mar 2021, 22:18 Zach Caceres, <notifications@github.com> wrote:

[2021-03-01 23:18] zcaceres commented on #293
Thank you very much!

[2021-03-01 23:18] #293 closed

[2021-03-10 11:15] jraoult commented on #291
👋  @mweststrate not sure if you are still the main maintainer but you are the last person who edited the lines I'm proposing to change. WDYT?

[2021-03-12 23:25] andrewvarga opened #294 "deepObserve callback getting called multiple times within a single runInAction function"
I have a simple case that looks something like this:
[code]

The log in this case runs twice, once for each length modification, immediately after each.
Is this normal? I would expect that because those length updates are in a `runInAction`, the observer only gets updated once, after the action is executed fully.

[2021-03-13 06:14] FredyC commented on #294
Please, provide minimal runnable reproduction, we can't help you otherwise.

[2021-03-13 10:17] andrewvarga commented on #294
Here is a jsfiddle link for anyone who'd like to try it out:
https://jsfiddle.net/3jrpatdm/

[2021-03-13 12:55] mweststrate commented on #294
This is working as intended, like observe, deepObserve reacts to all
mutations, not to the resulting values, so transactions dont apply to them.
Using observe should be very rarely needed and typically reaction/ autorun
is the better solution although it might require a little mental shift.

On Sat, 13 Mar 2021, 10:17 Andrew, ***@***.***> wrote:

[2021-03-13 13:02] andrewvarga commented on #294
oh I see, I wasn't aware of this. My use case is that I simply want to call a function whenever my observed array changes (including changes within the elements of the array).
Is there a way to do with autorun / reaction?

[2021-03-13 13:08] mweststrate commented on #294
Yes. See the docs on those and the page about understanding what mobx
reacts to.

On Sat, 13 Mar 2021, 13:02 Andrew, ***@***.***> wrote:

[2021-03-13 14:33] NaridaL commented on #291
TypeScript itself defines the error "reason" as `any`, both in `Promise` and `PromiseLike`. Although that might be for historical reasons. Have you had concrete problems with the `any` typing?

At this point I could go either way.

[2021-03-13 14:44] jraoult commented on #291
@NaridaL regarding the error, you are right that it is for historical reason. They actually recently allowed to specified `unknwon` in a `catch` clause  to enable better type safety (https://devblogs.microsoft.com/typescript/announcing-typescript-4-0/#unknown-on-catch).

Now regarding my proposal, that is actually more about the value than the error, the problem is `any` is that it causes no probl

[2021-03-13 15:01] NaridaL commented on #291
Good point about forgetting to check the state. If you create a PR I'll merge it.

[2021-03-13 15:58] NaridaL commented on #284
I had a look at this. The issue seems to be that in MST, list.todos isn't actually an observable array of `{done: boolean}`, but rather a Proxy around an observable array of MST's `ObjectNode`s around `{done: boolean}`.

As far as I can see, for this to work, OGM would need to be changed to add explicit MST support.

[2021-03-13 16:19] NaridaL commented on #283
If you want to create a PR, this seems like a useful function 👍.

[2021-03-13 17:46] jraoult commented on #291
@NaridaL cool I"ll get that ready on Monday then.

Just a heads up that it will make the type definition incompatible with any version of TS below 3.0 and will probably "break" code that was compiling before. The first caveat is probably OK by now since 3.0 was released more than 2 years ago and the second one, while annoying, I believe is for the best since it would reveal unchecked code paths. I

[2021-03-14 22:01] andrewvarga commented on #294
Thank you, I read that and played with those now. My understanding is that both `autorun` and `reaction` track the values that are accessed in their first parameter (effect / data function), so accessing the array itself will not cause the callback to run:
[code]

For me to get notified I need to access `myArray.length` in the first parameter function, but that is not enough if I also want to be n

[2021-03-14 22:28] NaridaL commented on #294
Your issue is you don't want your reaction to be called when you set up the
autorun/reacion?

On Sun, 14 Mar 2021 at 23:01, Andrew ***@***.***> wrote:

[2021-03-14 22:44] andrewvarga commented on #294
Yes, that would be very convenient, to just say "I want a callback to be invoked when any value within this observed object changes", and ideally only 1 invocation when the multiple things change in the observed object within an action.

But those 2 workarounds I mentioned can work too, I think, if there is no other way.

[2021-03-14 23:22] mweststrate commented on #294
I think you might still missing the point of autorun, as what you describe
is  what it is supposed to do; you run an effect and during that it merely
administers what is read as that is relevant for a next run. I recommend to
read the pages about the philosophy and gist of MobX, and/or setup a
sandbox that clarifies why it doesn't work for your case

On Sun, 14 Mar 2021, 22:44 Andrew, ***@***.***>

[2021-03-15 09:58] andrewvarga commented on #294
I read those pages and they seem clear to me. My concern is that my effect is a very heavy function that I only want to be invoked once the data actually changes, and not initially for initializing `autorun` or `reaction`.
Here is a hopefully better example:
https://jsfiddle.net/xfudacon/2/

You can see that the heavy function is triggered 2x. The second one is in response to changing the `myFilte

[2021-03-15 11:21] mweststrate commented on #294
I'm not sure what heavy looks like, but calling heavy n times versus n+1
times is the same problem from a cost perspective. Either the function is
unbearably heavy and locking up the app, or it isn't. But the +1 isn't
going to make the fundamental difference and I rather look into optimizing
heavy itself then. For example you might memoize the filter result for
existing entries, and only apply fil

[2021-03-16 10:19] jraoult commented on #291
Here we go @NaridaL https://github.com/mobxjs/mobx-utils/pull/295

[2021-03-17 22:16] andrewvarga commented on #294
In this case, I think it matters. The list of items to go through can be in 10s of thousands and for each item the filter array needs to be looped through too. That stalls the UI for seconds and it makes a huge difference to do this only once or twice initially. Like 4 seconds or 8 seconds, both of them being too much of course, I agree.
This heavy operation itself is memoized, it is only running

[2021-03-17 22:23] mweststrate commented on #294
sounds like you'd really benefit from splitting up the computation into
many small async tasks :). But yeah that is definitely beyond the scope of
this project

On Wed, Mar 17, 2021 at 10:16 PM Andrew ***@***.***> wrote:

[2021-03-28 08:17] #291 closed

[2021-05-06 09:28] grasshoppergn opened #296 "Use computedFn as annotation in make(Auto)Observable"
It seems that the only way now to use `computedFn` in model classes is
[code]

So it looks quite convenient to allow `computedFn` to be used as an annotation, so it becomes
[code]

[2021-05-17 07:10] whalemare commented on #296
Duplicate of #236

[2021-05-19 09:49] grasshoppergn commented on #296
@whalemare  is it? #236 doesn't automatically make it useful in makeAutoObservable...

[2021-06-15 20:53] pat-son commented on #287
I think `fromResource` can cover that use case. Just subscribe to the observable from within the callback.

[2021-06-27 14:19] gioragutt opened #298 "deepObserve not working with set"
repro:

* repro.mjs
[code]

console output:
[code]

Notice how in `console.log(set)` it has no observers.

[2021-06-27 14:56] gioragutt commented on #298
Proposed change:

https://github.com/mobxjs/mobx-utils/blob/master/src/deepObserve.ts#L101
[code]

Tested and works on:
[code]

Before this, I tried the following code:
[code]

And got the following error:

[code]

[2021-06-27 15:03] gioragutt commented on #298
Another proposed solution:

https://github.com/mobxjs/mobx-utils/blob/master/src/deepObserve.ts#L32

[code]

After thinking about it, an ObservableSet can also be recursively observable (since it can hold observables). Therefore it shouldn't be treated differently from the other types.

Needless to say that code that failed before now works

[2021-06-28 08:11] urugator commented on #298
Does it work for non-stringable entries? Set's values are also it's keys, so I wonder what happends with `path`...

[2021-06-28 11:41] gioragutt commented on #298
Hmmm good point, I think that the entries in a Set are the items themselves as well, so that means that the path will probably be a `toString` of the observable item 🤭 I'll see how it looks

[2021-07-23 14:57] dev-m1-macbook commented on #232
would it be ok to add a warning sign on `computeFn` docs?

this actually caught me off guard this week 😭

I had a function that were used in 2 ways:

1. `someArray.map(someComputeFn)`

2. `<p> {someComputeFn(a)} </p>`

(for some reason, the stacktrace was pointing to close-but-not-exact part of the code 😵‍💫 )

[2021-07-29 17:57] meelkor opened #300 "toStream is not rxjs compatible"
I noticed that the Symbol.observable, that should contain itself, is commented in the IObservableStream, which breaks compatibility with latest rxjs `from` function.
https://github.com/mobxjs/mobx-utils/blob/master/src/observable-stream.ts#L22
Resulting in `Argument of type 'IObservableStream<...>' is not assignable to parameter of type 'ObservableInput<...>'`

If I understand this correctly, the

[2021-08-10 09:22] ObservedObserver commented on #300
I met the same problem when using rxjs7 with mobx-utils

[2021-08-16 20:11] mweststrate commented on #300
Feel free to uncomment, test and submitting a PR! I haven't used rxjs in a very long time, but sounds like a good change.

[2021-08-18 06:39] quolpr commented on #300
I made custom to rxjs observer converter:

[code]

Not sure about gotchas, but for me, it works well

[2021-08-30 07:17] benjamingr commented on #300
@benlesh does the fix look good?

[2021-08-30 12:14] benlesh commented on #300
Maybe `toObservable`, but otherwise, yeah.

[2021-12-05 12:39] urugator commented on #268
Should it respect `requiresReaction` or global `computedRequiresReaction` (meaning it wouldn't warn by default)?
Or maybe `requiresReaction === false` could be used as override - `true` or `undefined` would have no effect on the warning.

[2022-01-04 00:23] dested commented on #294
Ran across this issue today. The reasoning makes sense but it still threw me for a bit of a loop. For any future googlers, I added a simple debounce to my deepObserve callback and that worked for my usecase.

[2022-01-14 12:32] DavraYoung commented on #199
computedFn uses DeepMap to memoize its parameters, whereas createTransformer mutates the parameters to assign the id and thus maintains its cache. There may be some potential issues with this, for example: transformer({...observable}) will always recompute, because the reference is always different. That's why its better to use computedFn

[2022-01-17 17:26] lukebjerring opened #301 "lazyObservable.current is missing `| undefined` in type signature"
https://github.com/mobxjs/mobx-utils/blob/3a1ee03527950a44c5ce57007344a56a9b974c94/src/lazy-observable.ts#L45

Given that we're fine to omit the initial value fallback, `current()` can return `undefined` while the promise is unresolved. The code snippet example even compares `current() === undefined`.

[2022-01-25 14:46] SpringNyan opened #302 "addHiddenProp should use 'defineProperty' from 'mobx'"
When `useProxies` is set to `"ifavailable"`, `createTransformer` may throw error in some use cases (see repro). This issue should be related to mobxjs/mobx#2876

Repro: https://codesandbox.io/s/mobx-defineproperty-forked-q4q6k?file=/src/index.ts

[2022-03-01 21:00] IAmJulianAcosta opened #303 "Override Model getter with ViewModel"
Hi, I wonder if is possible to do something like this:

[code]

Is this supported?

[2022-03-01 21:38] IAmJulianAcosta commented on #303
I just looked at the source code, it isn't implemented, I just created a small PR that allows this behavior

[2022-04-04 14:53] #303 closed

[2022-04-06 21:04] akphi commented on #114
we would love to be able to keep `keepAlive` as a utility. Yes we can do `computed({ keepAlive: true })` but there's no way to turn `keepAlive` off after that. And we're scared of memory leaks so we would like to be able to turn it off after our heavy computation step.

[2022-05-06 16:47] laszlopandy opened #305 "fromPromise sets pending value to undefined if oldPromise is also pending"
I found a race in code using `fromPromise`. When rapidly sending new requests in quick succession, created with `fromPromise`, the `case` method will temporarily return `undefined` until the latest response returns. Based on the documentation, I would expect it to always return stale data and never return `undefined`.

## Example scenario
[code]

The race appears when the fetch response is slow, a

[2022-07-01 05:30] jansav opened #306 "Testing stuff using now() leads to tests that are failing for wrong reason"
The fact that timers are synchronized, will make multiple unit tests share state between them.

**Here is unit test that will reproduce the issue:**

Notice how latter test will fail, even though it shouldn't.  If you run either of tests individually, the test will pass.

[code]

And to be absolutely sure that synchronization is causing the trouble, you can comment out stuff from implementation of

[2022-09-12 08:28] danielyogel opened #307 "Util for mapping an observable array into view models."
I keep finding myself in a situation, where I need to keep in sync (create/update/delete/move) an array of models (AKA VMs, Classes, factory functions) - with some observable array.

Is there some util of generic solution for that for MobX? Somethings similar to Solid's "[mapArray](https://www.solidjs.com/docs/latest/api#maparray)"

[2022-09-12 08:47] NaridaL commented on #307
Which direction? Maybe a `autorun(() => { someObservableArray.forEach(x => update(vm, x)) }` suffices?

[2022-09-12 09:07] danielyogel commented on #307
@NaridaL, Both directions:
When a new item (with a new ID) returned from API -  a new VM should be created.
When a VM is deleted -  the same item in the observable array should be delete.

Same for update, create, move...

`autorun(() => { someObservableArray.forEach(x => update(vm, x)) }` won't suffice. Thanks.

[2022-09-17 14:54] Lingareddyvinitha opened #308 "Issue while updating view Model using setter method"
Example Code

[code]

Here when we console the original model we expected title value as "Test" only but actual output is "Updated Test"

package versions:
 "mobx": "5.15.0",
 "mobx-react": "6.1.4",
 "mobx-utils": "6.0.0",

[2022-09-23 05:53] upsuper opened #309 "It might be better for fromResource to have dispose function returned from the setup function"
For example, the code in the README would be:
[code]
This way we can avoid relying on storing the state outside, making it easier to use.

[2022-11-10 21:34] #305 closed